<template>

  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
        <div class="col text-right">
          <base-button  type="secondary" size="sm"><router-link to="/newstartup">Add startup</router-link></base-button>

          <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
        </div>

      </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <div class="row" v-for="startups in processedPosts">
      <div class="columns large-3 medium-6" v-for="startup in startups"v-bind:key="startup.id">
        <div class="card">
        <div class="card-divider">
      <h5>{{ startup.name }}</h5>
            <p>Phase:{{ startup.phase }}</p>
            Join Date:{{ startup.joinDate}}
        </div>
 <a :href="startup.url" target="_blank"><img :src="startup.image_url"></a>
        <div class="card-section">

             <base-button  type="secondary" size="sm"><router-link :to="{name:'Editstartupt', params: { id: startup.id }}">Edit</router-link></base-button>
            <base-button  type="secondary" size="sm"><router-link  :to="{name:'members', params: { id:startup.id }}">Members</router-link></base-button>
            <base-button  type="danger" size="sm"@click="deleteBook(startup.id)">Delete</router-link></base-button>
        </div>
      </div>
      </div>
    </div>


</div>
</template>

<script>
  import axios from 'axios'

 const { url } = require('./url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: String
      },
      title: String

    },
    computed:{
    processedPosts()
    {

           // Add image_url attribute
                this.startups.map(startup => {
                  let imgObj = startup.avatar
                  startup.image_url = imgObj ? imgObj.url : "https://media-exp1.licdn.com/dms/image/C4D1BAQGnp4eWg3Nziw/company-background_10000/0?e=2159024400&v=beta&t=Ti0EhQWp636uNbilsCMCL4n7ogUqXk4QBdJkpsqVrNA";
                });
          let i, j, chunkedArray = [], chunk = 4;
                for (i=0, j=0; i < Object.keys(this.startups).length; i += chunk, j++) {
                  chunkedArray[j] = this.startups.slice(i,i+chunk);
                }
                return chunkedArray;
        },

    },

    data () {
      return {
        loading: true,
        startups:[],
      }
    },

    mounted () {
 this.getPosts();},
 methods: {
    getPosts() {
   this.loading = true;
   let token = localStorage.getItem('auth-token')
   axios
     .get(url+'/startup/all',{

                   headers: {
                       'Authorization': 'Bearer '+token,
                       'Content-Type': 'application/json'
                   }
 })

     .then(response => (this.startups = response.data.data))


 },
         deleteBook(id) {
           this.loading = true
             let token = localStorage.getItem('auth-token')
             const headers = {
                               'Authorization': 'Bearer '+token,
                               'Content-Type': 'application/json'
                           }
           axios
                 .post(url+`/startup/delete/${id}`,{},{headers:headers})
                 .then(response => {
                     let i = this.startups.map(item => item.id).indexOf(id); // find index of your object
                     this.startups.splice(i, 1)
                 });
         }

     },

  }

</script>
<style>
</style>
