<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>

        <div class="col text-right">

                  <base-button  type="secondary" size="sm"><router-link :to="{name:'New_account', params: { id:$route.params.id }}">Add Account</router-link></base-button>



          <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
        </div>

      </div>
    </div>
    <div id="app">
      <!--<button @click="generatePdf()">Export pdf</button>-->

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>

          <tr>
            <!--<th scope="col">KPI Name</th>-->
            <th scope="col">Name</th>
            <th scope="col">Balance</th>
              <th scope="col">Status</th>
        <th scope="col">Startup Name</th>

          <th scope="col">Options</th>

          </tr>
        </thead>
        <tbody>

         <tr v-for=" account in accountss"v-bind:key="account.id"v-if="account.group_id==$route.params.id">
            <!--<td><img v-bind:src="user.avatar" width="50"/></td>-->

   <td>{{account.name}}</td>
    <td>{{account.balance}}</td>
    <td>{{account.status}}</td>
    <td>{{account.startup_name}}</td>
  <td> <base-dropdown class="dropdown"
                   position="right">
      <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </a>
        <template>

            <a>  <router-link :to="{name:'Editinvestor', params: { id: account.id }}" class="dropdown-item">Edit
            </router-link></a>
            <a>    <button class="dropdown-item" @click="deleteBook(account.id)">Close</button></a>
            <a><router-link :to="{name:'transactions', params: { id: account.id }}" class="dropdown-item">Transaction</router-link></a>
          </template>
              </base-dropdown>
        </td>
              </tr>




        </tbody>
      </table>

</div>
</div>
<div class="card-footer d-flex justify-content-end"
  :class="type === 'dark' ? 'bg-transparent': ''">
<base-pagination total="30"></base-pagination>
</div>
</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
import jsPDF from 'jspdf';
import 'jspdf-autotable';
const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"KPI",

    },
    data () {
      return {
        loading: false,
        test3:[],
        accountss:[],
        test:[],
        testt:[],
      }
    },
    mounted () {

      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get(url+`/accountGroup/all`,{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
  .then(response => {

   this.test=response.data.data
                  this.test.forEach(item =>{
  item.accounts.forEach(i =>{

                      this.accountss.push(i)

  })
})
    })
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    },



    methods: {
      generatePdf() {
        const doc = new jsPDF()

  // It can parse html:
  // <table id="my-table"><!-- ... --></table>
//  doc.autoTable({ html: '#my-table' })

this.testt = this.accountss.map(Object.values);

console.log(this.testt);
//this.test3.push(this.tesst)
  // Or use javascript directly:
  doc.autoTable({
    head: [['Name', 'Balance', 'Status','Startup Name']],
    body:this.testt,
  })

  doc.save('table.pdf')
      },
      exportPdf(){
        var columns=[
          {title:"Name",datakey:"name"},
                {title:"Balance",datakey:"balance"},
                {title:"Status",datakey:"status"},
                {title:"Startup Name",datakey:"startup_name"}

        ];
        const doc= new jsPDF();
        require('jspdf-autotable');
        doc.autoTable(columns,this.accountss);
        doc.save('table.pdf');

      }
      ,
            deleteBook(id) {
              this.loading = true;
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/account/close/${id}`,{},{headers:headers})
                    .then(response => {
                        let i = this.accountss.map(item => item.id).indexOf(id); // find index of your object
                        this.acountss.splice(i, 1)
                    });
            }

        }
    }
</script>
<style>

</style>
