<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col-sm">
          Currently selected Startup: {{ selectedYear}} <br>
        <select v-model="selectedYear" class="form-control" @change="show()"  >
          <option value="NaaNi">Currently selected year:</option>
          <option v-for="startup in startups" :value="startup.name" :v-model="selectedYear">{{ startup.name }}</option>
        </select>

        </div>
        <div class="col text-right">
          <base-button  type="secondary" size="sm"><router-link :to="{name:'New_Event', params: { name:this.selectedYear }}">Add Event</router-link></base-button>

        </div>
      </div>
    </div>

<!--<full-calendar :events="events"></full-calendar>-->
<vue-event-calendar
   :events="demoEvents"
   @day-changed="handleDayChanged"
   @month-changed="handleMonthChanged"


 >

 </vue-event-calendar>

</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
import jsPDF from 'jspdf';
import vSelect from 'vue-select'
import 'jspdf-autotable';
const { url } = require('./Tables/url.js')
var moment = require('moment');
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"KPI",

    },
    data() {
     return {
       selected:'',
        selectedYear: 'cap10',
       demoEvents: [],
   startups:'',
   test:'',
     }
    },
    mounted () {
      this.$EventCalendar.nextMonth()
      this.$EventCalendar.preMonth()
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get(url+`/startup/all`,{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
  .then(response => {

   this.startups=response.data.data


  })
        .catch(error => console.log(error))
        .finally(() => this.loading = false)

    },



    methods: {
      show(){
      this.loading = true;
         let token = localStorage.getItem('auth-token')
         axios.
         get(url+`/redmine/calendar/get/${this.selectedYear}`,{

                       headers: {
                           'Authorization': 'Bearer '+token,
                           'Content-Type': 'application/json'
                       }
   })
   .then(response => {

    this.test=response.data.issues
 this.test.forEach(item =>{
   var day = new Date(item.start_date);
   var dd = day.getDate();

   var mm = day.getMonth()+1;
   var yyyy = day.getFullYear();
   if(dd<10)
   {
       dd='0'+dd;
   }

   if(mm<10)
   {
       mm='0'+mm;
   }
   day = yyyy+'/'+mm+'/'+dd;
   console.log(day);
    //  var newdate = item.start_date.split("/").reverse().join("/");
   var d = {date:day, title:item.subject, desc:item.description}
   this.demoEvents.push(d)

 });
   })
 },


        }
    }
</script>
<style>

</style>
