<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
        <div class="col text-right">
          <base-button  type="secondary" size="sm"><router-link to="/new_capitalization">Add</router-link></base-button>

          <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
        </div>

      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
          <!--  <th scope="col">ID</th>-->
            <th scope="col">Startup Name</th>
            <th scope="col">Investor Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="share in shares" v-bind:key="id">
            <!--  <td>{{ share.id }}</td>
          <td><img v-bind:src="user.avatar" width="50"/></td>-->
            <td>{{share.startup_name}}</td>
            <td>{{share.investor_name }}</td>
              <td><span class="mr-2">{{share.shares }}%</span>
          <base-progress :type="share.shares "
                         class="pt-0"
                         :show-percentage="false"
                         :value="share.shares "
          /></td>

              <td> <base-dropdown class="dropdown"
                               position="right">
                  <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                    <template>

                        <a>  <router-link :to="{name:'Editshares', params: { id: share.id }}" class="dropdown-item">Edit
                        </router-link></a>
                        <a>    <button class="dropdown-item" @click="deleteBook(share.id)">Delete</button></a>
                      </template>
                          </base-dropdown>
                    </td>
        </tr>

        </tbody>

      </table>
</div>

</div>
</div>
</div>
</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: String
      },
      title: String
    },
    data () {
      return {
        loading: false,
        shares: null
      }
    },
    mounted () {
      this.loading = true;
        let token = localStorage.getItem('auth-token')
      axios
        .get(url+'/shares/all',{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => (this.shares = response.data.data))
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    },

     methods: {
              deleteBook(id) {
                this.loading = true;
                let token = localStorage.getItem('auth-token')
                const headers = {
                                  'Authorization': 'Bearer '+token,
                                  'Content-Type': 'application/json'
                              }
                axios
                      .post(url+`/shares/delete/${id}`,{},{headers:headers

                    })
                      .then(response => {
                          let i = this.shares.map(item => item.id).indexOf(id); // find index of your object
                          this.shares.splice(i, 1)
                      });
              }

          }
        }

</script>
<style>

</style>
