<template>
    <div>
        <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
            <!-- Card stats -->

        </base-header>

        <!--Charts-->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-8 mb-5 mb-xl-0">
                    <card type="default" header-classes="bg-transparent">
                        <div slot="header" class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Line Chart</h6>
                                <h5 class="h3 text-white mb-0">{{ name }}</h5>
                            </div>
                        </div>
                        <line-chart
                                :height="350"
                                ref="bigChart"
                                :chart-data="bigLineChart.chartData"
                                :extra-options="bigLineChart.extraOptions"
                        >
                        </line-chart>

                    </card>
                </div>

                <div class="col-xl-4">
                    <card header-classes="bg-transparent">
                        <div slot="header" class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">Bar Chart</h6>
                                <h5 class="h3 mb-0">{{name}}</h5>

                            </div>
                        </div>

                        <bar-chart
                                :height="350"
                                ref="barChart"
                                :chart-data="redBarChart.chartData"
                                :extra-options="redBarChart.extraOptions"
                        >
                        </bar-chart>
                    </card>
                </div>
            </div>
            <!-- End charts-->

            <!--Tables-->

            <!--End tables-->
        </div>

    </div>
</template>
<script>
  // Charts
  import * as chartConfigs from '@/components/Charts/config';
  import LineChart from '@/components/Charts/LineChart';
  import BarChart from '@/components/Charts/BarChart';
  const { url } = require('./Tables/url.js')
import axios from 'axios';


  export default {
    components: {
      LineChart,
      BarChart,

    },
    data() {
      return {
        name:'',
        bigLineChart: {
          results:[],
          allData: [],
          activeIndex: 0,
          chartData: {
            datasets: [],
            labels: [],
          },
          extraOptions: chartConfigs.blueChartOptions,
        },
        redBarChart: {
          chartData: {
            labels: [],
            datasets: [{
              label: 'Actual',
              data: []
            }]
          }
          //extraOptions: chartConfigs.barChartOptions,
        },
        test:[]

      };
    },
    methods: {
      initBigChart(index) {
        var chartData = {
          datasets: [
            {
              label: 'Actual',
              data: this.bigLineChart.allData
            }
          ],
          labels: [],
        };
        this.bigLineChart.chartData = chartData;
        this.bigLineChart.activeIndex = index;
      }
    },
   mounted() {
      this.initBigChart(0);
      this.loading = true;
      let token = localStorage.getItem('auth-token')
    axios
      .get(url+`/kpi/findById/${this.$route.params.id}`,{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })      .then(response => {

   this.test=response.data.data


//response.data.data.datas.forEach(item=>{this.bigLineChart.allData.push(item.actual)


                  this.test.forEach(item =>{
                //    this.bigLineChart.allData.push(this.test.datas[item].actual)
                    //  console.log(item.datas)
                      item.datas.forEach(i =>{

                        this.bigLineChart.allData.push(i.actual)
this.name=item.name;

                      })
          })
    //      console.log(this.name)
                      //  console.log(this.bigLineChart.allData)
                  //  console.log(this.bigLineChart.allData)
                   this.test.forEach(item =>{
                   item.datas.forEach(i=>{
                     this.bigLineChart.chartData.labels.push(i.date)
                   })
                 })
                 this.test.forEach(item =>{
               //    this.bigLineChart.allData.push(this.test.datas[item].actual)
                   //  console.log(item.datas)
                     item.datas.forEach(i =>{

                       this.redBarChart.chartData.datasets[0].data.push(i.actual)

                     })
         })
         console.log( this.redBarChart.chartData.datasets[0].data)
                 this.test.forEach(item =>{
                 item.datas.forEach(i=>{
                   this.redBarChart.chartData.labels.push(i.date)
                 })
               })

//this.redBarChart.chartData.datasets.data=this.bigLineChart.allData
//console.log(this.redBarChart.chartData.datasets[i].data)
//this.redBarChart.chartData.labels=this.bigLineChart.chartData.labels
//console.log(this.redBarChart.chartData.datasets[0].data)
  });


    },

  };
</script>
<style></style>
