<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Edit Investor</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit.prevent="updateinvestor">
                                <h6 class="heading-small text-muted mb-4">Investor information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Name"
                                                        placeholder=" Investor Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="investor.name"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Position"
                                                        placeholder="Position"
                                                        input-classes="form-control-alternative"
                                                        v-model="investor.position"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Address"
                                                        placeholder="Address"
                                                        input-classes="form-control-alternative"
                                                        v-model="investor.address"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Phone"
                                                        placeholder="Phone Number"
                                                        input-classes="form-control-alternative"
                                                        v-model="investor.phone"
                                            />
                                        </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <select v-model="investor.type">
  <option disabled value="">Select type</option>
  <option>startupMember</option>
  <option>acceleratorMember</option>
  <option>externalMember</option>
</select>
<span>{{ selected }}</span>
                                            </div>

                                    </div>
                                   </div>
                <div class="col-4 text-center">
          <button type="submit" class="btn btn-primary">Update Investor</button>
                </div>
                            </form>
                        </template>

                    </card>
                </div>
            </div>

</div>
</template>

<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
    export default {

        data() {
            return {
                loading: false,
                investor: {}
            }
        },

        created() {
          this.loading = true;
          let token = localStorage.getItem('auth-token')
          const headers = {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
          axios
                .get(url+`/investor/findById/${this.$route.params.id}`,{headers:headers})
                .then((response) => {
                    this.investor = response.data.data;

                });
        },
        methods: {
            updateinvestor() {
              this.loading = true;
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/investor/update/${this.$route.params.id}`, this.investor,{headers:headers})
                    .then((response) => {
                        this.$router.push({name: 'Investors'});
                    });
            }
        }
    }
</script>
