<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
      <div class="row">
          <div class="col">
  <div class="col-xl-8 order-xl-1">
    <card shadow type="secondary">
        <div slot="header" class="bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Edit category</h3>
                </div>

            </div>
        </div>
        <template>
            <form @submit.prevent="updatestartup">
                <h6 class="heading-small text-muted mb-4">Category information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                                        label="Name"
                                        placeholder="Category Name"
                                        input-classes="form-control-alternative"
                                        v-model="user.name"
                            />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                                        label="Description"
                                        placeholder="description"
                                        input-classes="form-control-alternative"
                                        v-model="user.email"
                            />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                            type="password"
                                        label="Password"
                                        placeholder="password"
                                        input-classes="form-control-alternative"
                                        v-model="user.password"
                            />
                        </div>

                    </div>
                   </div>
<button type="submit" class="btn btn-primary">Update User</button>
            </form>
              </template>
    </card>
</div>
</div>
</div>
    </div>
</div>
</template>
<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
    export default {

        data() {
            return {
                loading: false,
                user: {}
            }
        },
        created() {
          this.loading = true;
            let token = localStorage.getItem('auth-token')
          axios
                .get(url+`/users/findById/${this.$route.params.id}`,{

                              headers: {
                                  'Authorization': 'Bearer '+token,
                                  'Content-Type': 'application/json'
                              }
          })
                .then((response) => {
                    this.user = response.data.data;
                });
        },
        methods: {
            updatestartup() {
              this.loading = true;
                let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/users/update/${this.$route.params.id}`, this.user,{headers:headers})
                    .then((response) => {
                        this.$router.push({name: 'users'});
                    });
            }
        }
    }
</script>
