<!--<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Edit KPI</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit.prevent="updatekpi">
                                <h6 class="heading-small text-muted mb-4">KPI information</h6>
                                  <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                          <h5>Startup Name</h5>
                                          <select v-model="kpi.startup_id"  @change="getstartup" class="form-control">
                                   <option disabled value="" selected="selected">Please select one</option>
                                   <option v-for="startup in startups" :key="startup.id" v-bind:value="startup.id">
                                           {{startup.name}}
                                     </option>
                                </select>
                                        </div>
                                      </div>

                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="KPI Name"
                                                          placeholder="KPI Name"
                                                          input-classes="form-control-alternative"
                                                          v-model="kpi.name"
                                              />
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Description"
                                                          placeholder="Description"
                                                          input-classes="form-control-alternative"
                                                          v-model="kpi.description"
                                              />
                                          </div>

                                      </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Target"
                                                          placeholder="Target"
                                                          input-classes="form-control-alternative"
                                                          v-model="kpi.target"
                                              />
                                          </div>

                                      </div>

                                      <div class="row">
                                          <div class="col-lg-10">
                                            <h5>Category</h5>
                                            <select v-model="kpi.category_id"  @change="getcategory" class="form-control">
                                     <option disabled value="" selected="selected">Please select one</option>
                                     <option v-for="category in categories" :key="category.id" v-bind:value="category.id">
                                             {{category.name}}
                                       </option>

                                  </select>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10">
                                              <h5>Frequency</h5>
                                              <select v-model="kpi.frequency_id" class="form-control">
                                       <option disabled value="" selected="selected">When will this KPI be entered</option>
                                       <option v-for="frequency in frequencies" :key="frequency.id" v-bind:value="frequency.id">
                                               {{frequency.name}}
                                         </option>

                                    </select>
                                            </div>
                                          </div>
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <base-input alternative=""
                                                            label="Format"
                                                            placeholder="format"
                                                            input-classes="form-control-alternative"
                                                            v-model="kpi.format"
                                                />
                                            </div>
                                          </div>

                                     </div>
                <!--<button class="btn btn-primary">Add</button>
                <div class="col-4 text-center">
          <button type="submit" class="btn btn-primary">Update KPI</button>
                </div>
                            </form>
                        </template>
              <p class="alert alert-danger" v-show="status" v-text="status"></p>
                    </card>
                </div>
            </div>

</div>
</template>

<script>
import axios from 'axios'
    export default {
        data() {
            return {
                loading: false,
                kpi: {},
                categories:'',
                frequencies:'',
                startups:'',
                status:false,
            }
        },
        created() {
          this.loading = true;
          let token = localStorage.getItem('auth-token')
          const headers = {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
          axios
                .get(`https://mighty-meadow-51663.herokuapp.com/kpi/findById/${this.$route.params.id}`,{headers:headers})
                .then((response) => {
                    this.kpi = response.data.data;

                });
        },
        computed: {

          getstartup() {
            this.loading = true;
            let token = localStorage.getItem('auth-token')
            const headers = {
                              'Authorization': 'Bearer '+token,
                              'Content-Type': 'application/json'
                          }
        axios
          .get('https://mighty-meadow-51663.herokuapp.com/startup/all',{headers:headers

        })
          .then(response => (this.startups = response.data.data))
          .catch(error => console.log(error))
          .finally(() => this.loading = false)
        },
        getcategory() {
          this.loading = true;
          let token = localStorage.getItem('auth-token')
          const headers = {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
      axios
        .get('https://mighty-meadow-51663.herokuapp.com/category/all',{headers:headers

      })
        .then(response => (this.categories = response.data.data))
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
      },

        },
        mounted () {
            this.loading = true;
            let token = localStorage.getItem('auth-token')
            const headers = {
                              'Authorization': 'Bearer '+token,
                              'Content-Type': 'application/json'
                          }
        axios
          .get('https://mighty-meadow-51663.herokuapp.com/frequency/all',{headers:headers

        })
          .then(response => (this.frequencies = response.data.data))
          .catch(error => console.log(error))
          .finally(() => this.loading = false)
          },
        methods: {
            updatekpi() {
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              this.loading = true;
              axios
                    .post(`https://mighty-meadow-51663.herokuapp.com/kpi/update/${this.$route.params.id}`, this.kpi,{headers:headers})
                    .then((response) => {
                        this.$router.push({name: 'kpi'});
                    })
                    .catch(error => {
             this.status= error.response.data.message;
          })
            .finally(() => this.loading = false)
            }
        }
    }
</script>
-->
<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Edit KPI</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit.prevent="updatestartup">
                                <h6 class="heading-small text-muted mb-4">KPI information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Startup Name"
                                                        placeholder=" Startup Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="kpi.startup_id"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="KPI Name"
                                                        placeholder="kpi name"
                                                        input-classes="form-control-alternative"
                                                        v-model="kpi.name"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Description"
                                                        placeholder="description"
                                                        input-classes="form-control-alternative"
                                                        v-model="kpi.description"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Target"
                                                        placeholder="target"
                                                        input-classes="form-control-alternative"
                                                        v-model="kpi.target"
                                            />
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Category"
                                                        placeholder="category"
                                                        input-classes="form-control-alternative"
                                                        v-model="kpi.category_id"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Frequency"
                                                        placeholder="100%"
                                                        input-classes="form-control-alternative"
                                                        v-model="kpi.frequency_id"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Format"
                                                        placeholder="100%"
                                                        input-classes="form-control-alternative"
                                                        v-model="kpi.format"
                                            />
                                        </div>

                                    </div>


                                   </div>
                <!--<button class="btn btn-primary">Add</button>-->
                <div class="col-4 text-center">
          <button type="submit" class="btn btn-primary">Update kpi</button>
                </div>
                            </form>
                        </template>

                    </card>
                </div>
            </div>

</div>
</template>

<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
    export default {
        data() {
            return {
                loading: false,
                kpi: {}
            }
        },
        created() {
          this.loading = true;
            let token = localStorage.getItem('auth-token')
          axios
                .get(url+`/kpi/findById/${this.$route.params.kpi_id}`,{

                              headers: {
                                  'Authorization': 'Bearer '+token,
                                  'Content-Type': 'application/json'
                              }
          })
                .then((response) => {
                    this.kpi = response.data.data;
                });
        },
        methods: {
            updatestartup() {
              this.loading = true;
                let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/kpi/update/${this.$route.params.kpi_id}`, this.kpi,{headers:headers})
                    .then((response) => {
                        //this.$router.push({name: 'kpis'});
                          this.$router.push({name:'kpis',id:this.$route.params.id});
                    });
            }
        }

    }
</script>
