<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
      <div class="row">
          <div class="col">
  <div class="col-xl-8 order-xl-1">
    <card shadow type="secondary">
        <div slot="header" class="bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Edit startup</h3>
                </div>

            </div>
        </div>
        <template>
            <form @submit.prevent="updatestartup">
                <h6 class="heading-small text-muted mb-4">Startup information</h6>
                <div class="pl-lg-4">
              
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                                        label="Phase"
                                        placeholder="Phase"
                                        input-classes="form-control-alternative"
                                        v-model="startup.phase"
                            />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                                        label="Balance"
                                        placeholder="balance"
                                        input-classes="form-control-alternative"
                                        v-model="startup.balance"
                            />
                        </div>

                    </div>
                    <div class="row">
                          <div class="col-lg-10">
                             <h5>Join Date</h5>
                            <base-input alternative=""
                                        v-model="startup.joinDate"
                                        type="date"
                                        placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

                            />


                    </div>
                    </div>


                   </div>
<button type="submit" class="btn btn-primary">Update Startup</button>
            </form>
              </template>


          <!--p class="text-danger" v-show="status" v-text="status"></p>-->

    </card>
</div>
</div>
</div>
    </div>
</div>
</template>
<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
    export default {
        data() {
            return {
                loading: false,
                startup: {}
            }
        },
        created() {
          this.loading = true;
            let token = localStorage.getItem('auth-token')
            const headers = {
                              'Authorization': 'Bearer '+token,
                              'Content-Type': 'application/json'
                          }
          axios
                .get(url+`/startup/findById/${this.$route.params.id}`,{headers:headers})
                .then((response) => {
                    this.startup = response.data.data;
                    // console.log(response.data);
                });
        },
        methods: {
            updatestartup() {
              this.loading = true;
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/startup/update/${this.$route.params.id}`, this.startup,{headers:headers})
                    .then((response) => {
                        this.$router.push({name:'tables'});
                    });
            }
        }
    }
</script>
