<!--  <template>
      <div>
        <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
    </base-header>
      <div class="container-fluid mt--7">
    <div class="col-xl-8 order-xl-1">
                      <card shadow type="secondary">
                          <div slot="header" class="bg-white border-0">
                              <div class="row align-items-center">
                                  <div class="col-8">
                                      <h3 class="mb-0">Edit Member</h3>
                                  </div>
                              </div>
                          </div>
                          <template>

                              <form @submit.prevent="updatemember">
                                  <h6 class="heading-small text-muted mb-4">Member information</h6>
                                  <div class="pl-lg-4">
                                      <div class="row">

                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Name"
                                                          placeholder=" Member Name"
                                                          input-classes="form-control-alternative"
                                                          v-model="member.name"
                                              />
                                          </div>


                                      </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Position"
                                                          placeholder="Position"
                                                          input-classes="form-control-alternative"
                                                          v-model="member.position"
                                              />
                                          </div>

                                      </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Address"
                                                          placeholder="Address"
                                                          input-classes="form-control-alternative"
                                                          v-model="member.address"
                                              />
                                          </div>

                                      </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Phone"
                                                          placeholder="Phone Number"
                                                          input-classes="form-control-alternative"
                                                          v-model="member.phone"
                                              />
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <base-input alternative=""
                                                            label="Shares"
                                                            placeholder="%"
                                                            input-classes="form-control-alternative"
                                                            v-model="member.shares"
                                                />
                                            </div>
                                          </div>

                                     </div>
                  <!--<button class="btn btn-primary">Add</button>
                  <div class="col-4 text-center">
  <button type="submit" class="btn btn-primary">Update Member</button>
                  </div>
                              </form>
                          </template>

                      </card>
                  </div>
              </div>

  </div>
  </template>

<script>
import axios from 'axios'
    export default {
        data() {
            return {
                loading: false,
                member: {}
            }
        },
        created() {
          this.loading = true;
            let token = localStorage.getItem('auth-token')

          axios
                .get(`https://mighty-meadow-51663.herokuapp.com/startupMember/findById/${this.$route.params.id}`,{

                              headers: {
                                  'Authorization': 'Bearer '+token,
                                  'Content-Type': 'application/json'
                              }
          })
                .then((response) => {
                    this.member = response.data.data;
                    // console.log(response.data);
                });
        },
        methods: {
            updatemember() {
              this.loading = true;
                let token = localStorage.getItem('auth-token')
                const headers = {
                                  'Authorization': 'Bearer '+token,
                                  'Content-Type': 'application/json'
                              }
                              axios
                                    .post(`https://mighty-meadow-51663.herokuapp.com/startupMember/update/${this.$route.params.id}`, this.member,{headers:headers})
                                    .then((response) => {
                                        this.$router.push({name: 'members'});
                                    });
            }
        }
    }
</script>
-->
<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Edit Member</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit.prevent="updatemember">
                                <h6 class="heading-small text-muted mb-4">Member information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Name"
                                                        placeholder=" Member Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="member.name"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Position"
                                                        placeholder="Position"
                                                        input-classes="form-control-alternative"
                                                        v-model="member.position"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Address"
                                                        placeholder="Address"
                                                        input-classes="form-control-alternative"
                                                        v-model="member.address"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Phone"
                                                        placeholder="Phone Number"
                                                        input-classes="form-control-alternative"
                                                        v-model="member.phone"
                                            />
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Shares"
                                                          placeholder="0-->100%"
                                                          input-classes="form-control-alternative"
                                                          v-model="member.shares"
                                              />
                                          </div>
                                        </div>
                                      </div>

                <div class="col-4 text-center">
          <button type="submit" class="btn btn-primary">Update member</button>
                </div>
                            </form>
                        </template>

                    </card>
                </div>
            </div>

</div>
</template>

<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
    export default {

        data() {
            return {
                loading: false,
                member: {}
            }
        },

        created() {
          this.loading = true;
          let token = localStorage.getItem('auth-token')
          const headers = {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
          axios
                .get(url+`/startupMember/findById/${this.$route.params.id}`,{headers:headers})
                .then((response) => {
                    this.member = response.data.data;
console.log()
                });
        },
        methods: {
            updatemember() {
              this.loading = true;
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/startupMember/update/${this.$route.params.id}`, this.member,{headers:headers})
                    .then((response) => {
                      /*  this.$router.push({ path: `/members/${this.$route.params.startupid}` });*/
                        /*path: this.$router.go(-1)*/
                     this.$router.push({name:'members',id:this.$route.params.startupid});

                    });
            }
        }
    }
</script>
