<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Edit Shares</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit.prevent="updateinvestor">
                                <h6 class="heading-small text-muted mb-4">Shares information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Startup Name"
                                                        placeholder=" Startup Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="share.startup_id"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Investor Name"
                                                        placeholder="investor name"
                                                        input-classes="form-control-alternative"
                                                        v-model="share.investor_id"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Shares"
                                                        placeholder="100%"
                                                        input-classes="form-control-alternative"
                                                        v-model="share.shares"
                                            />
                                        </div>

                                    </div>


                                   </div>
                <!--<button class="btn btn-primary">Add</button>-->
                <div class="col-4 text-center">
          <button type="submit" class="btn btn-primary">Update Shares</button>
                </div>
                            </form>
                        </template>

                    </card>
                </div>
            </div>

</div>
</template>

<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
    export default {
        data() {
            return {
                loading: false,
                share: {}
            }
        },
        created() {
          this.loading = true;
          let token = localStorage.getItem('auth-token')
          const headers = {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
          axios
                .get(url+`/shares/findById/${this.$route.params.id}`,{headers:headers})
                .then((response) => {
                    this.share = response.data.data;
                    // console.log(response.data);
                });
        },
        methods: {
            updateinvestor() {
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              this.loading = true;
              axios
                    .post(url+`/shares/update/${this.$route.params.id}`, this.share,{headers:headers})
                    .then((response) => {
                        this.$router.push({name: 'capitalization'});
                    });
            }
        }
    }
</script>
