<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
      <div class="row">
          <div class="col">
  <div class="col-xl-8 order-xl-1">
    <card shadow type="secondary">
        <div slot="header" class="bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Edit Issue</h3>
                </div>

            </div>
        </div>
        <template>
            <form @submit.prevent="updatestartup">
                <h6 class="heading-small text-muted mb-4">Issue information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                                        label="Subject"
                                        placeholder=" Startup Name"
                                        input-classes="form-control-alternative"
                                        v-model="issue.subject"
                            />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                                        label="priority"
                                        placeholder="priority"
                                        input-classes="form-control-alternative"
                                        v-model="issue.priority.name"
                            />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                                        label="status"
                                        placeholder="status"
                                        input-classes="form-control-alternative"
                                        v-model="issue.status.name"
                            />
                        </div>

                    </div>
                    <div class="row">
                          <div class="col-lg-10">
                             <h5>Estimated Hours</h5>
                            <base-input alternative=""
                                        placeholder="estimated_hours"
                                        input-classes="form-control-alternative"
                                        v-model="issue.estimated_hours"
                                        type="number"
                                        min="1"
                                        max="10000"

                            />


</div>
</div>
<div class="row">
<div class="col-lg-10">
<h5>Done Ratio</h5>
<base-input alternative=""
    placeholder="0%-->100%"
    input-classes="form-control-alternative"
    v-model="issue.done_ratio"
    type="number"
    min="0"
    max="100"

/>


</div>
</div>
                    <div class="row">
                          <div class="col-lg-10">
                             <h5>Start_Date</h5>
                            <base-input alternative=""
                                        v-model="issue.start_date"
                                        type="date"
                                        placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

                            />


                    </div>
                    </div>
                    <div class="row">
                          <div class="col-lg-10">
                             <h5>Due_Date</h5>
                            <base-input alternative=""
                                        v-model="issue.due_date"
                                        type="date"
                                        placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

                            />


                    </div>
                    </div>
                   </div>
<button type="submit" class="btn btn-primary">Update Issue</button>
            </form>
              </template>


          <!--p class="text-danger" v-show="status" v-text="status"></p>-->

    </card>
</div>
</div>
</div>
    </div>
</div>
</template>
<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
    export default {
        data() {
            return {
                loading: false,
                issue: {}
            }
        },
        created() {
          this.loading = true;
            let token = localStorage.getItem('auth-token')
            const headers = {
                              'Authorization': 'Bearer '+token,
                              'Content-Type': 'application/json'
                          }
          axios
                .get(url+`/redmine/issue/show/${this.$route.params.issueid}`,{headers:headers})
                .then((response) => {
                    this.issue = response.data.issue;
                   console.log(response.data.issue);
                });
        },
        methods: {
            updatestartup() {
              this.loading = true;
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/redmine/issue/update/${this.$route.params.issueid}`, this.issue,{headers:headers})
                    .then((response) => {
                        this.$router.push({name:'Issues',id:this.$route.params.id});
                    });
            }
        }
    }
</script>
