<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
      <div class="row">
          <div class="col">
  <div class="col-xl-8 order-xl-1">
    <card shadow type="secondary">
        <div slot="header" class="bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Edit KPI Data</h3>
                </div>

            </div>
        </div>
        <template>
            <form @submit.prevent="updatestartup">
                <h6 class="heading-small text-muted mb-4">KPI Data information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-10">
                            <base-input alternative=""
                                        label="Actual"
                                        placeholder="Actual Value"
                                        input-classes="form-control-alternative"
                                        v-model="alldata.actual"
                            />
                        </div>

                    </div>
                    <div class="row">
                          <div class="col-lg-10">
                             <h5>Date</h5>
                            <base-input alternative=""
                                        v-model="alldata.date"
                                        type="date"
                                        placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

                            />


                    </div>
                    </div>
                   </div>
<button type="submit" class="btn btn-primary">Update KPI Data</button>
            </form>
              </template>
              <p class="alert" v-show="success" v-text="success"></p>
    </card>
</div>
</div>
</div>
    </div>
</div>
</template>
<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
    export default {

        data() {
            return {
                loading: false,
                alldata: {},
                success:false
            }
        },
        created() {
          this.loading = true;
            let token = localStorage.getItem('auth-token')
          axios
                .get(url+`/kpiData/findById/${this.$route.params.id}`,{

                              headers: {
                                  'Authorization': 'Bearer '+token,
                                  'Content-Type': 'application/json'
                              }
          })
                .then((response) => {
                    this.alldata = response.data.data;
                });
        },
        methods: {
            updatestartup() {
              this.loading = true;
                let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/kpiData/update/${this.$route.params.id}`, this.alldata,{headers:headers})
                    .then((response) => {
                    this.$router.push({name:'kpi data'});
                    });
            }
        }
    }
</script>
