<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>

        </div>
        <div class="col text-right">
          <base-button  type="secondary" size="sm"><router-link :to="{name:'New_file', params: { id:$route.params.id }}">Upload File</router-link></base-button>
      </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
<div class="row" v-for="results in processedPosts">
  <div class="columns large-3 medium-6" v-for="result in results">
    <div class="card">
    <div class="card-divider">
   {{ result.title }}
    </div>
    <div class="card-section">
      <!--  <base-button  type="secondary" size="sm"><router-link :to="{name:'show_file', params: { id:result.title,name:$route.params.name}}">Download</router-link></base-button>-->
        <base-button  type="secondary" size="sm"  @click="onClick(result.title,$route.params.id)">Download</base-button>
        <base-button  type="danger" size="sm"@click="deleteBook(result.title)">Delete</router-link></base-button>
    </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  import fileDownload from 'js-file-download';
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"KPI"
    },
    computed:{
    processedPosts(){
  // Put Array into Chunks]
  //var counter= Object.keys(this.results).length
      let i, j, chunkedArray = [], chunk = 4;
      for (i=0, j=0; i < (this.results).length ; i += chunk, j++) {
        chunkedArray[j] = this.results.slice(i,i+chunk);
      }
      return chunkedArray;
    }
    },


    data () {
      return {
            loading: false,
        results: [],
        test:[],
        title:'',
        project_id:'',
        s:null,
      }
    },
    mounted () {
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get(url+`/admin/redmine/wiki/all/${this.$route.params.id}`,{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
}
     })
.then(response => {

     this.results=response.data.data.wiki_pages


     })
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
      },
methods:{
  onClick(title,id) {
    this.loading = true;
    let token = localStorage.getItem('auth-token')
    //const FileDownload = require('js-file-download');
    //const config = { responseType: 'blob' };
    const headers = {
                      'Authorization': 'Bearer '+token,
                      'Content-Type': 'application/json'
                  }
  axios.post( url+`/admin/redmine/wiki/download2`
                 , {project_id:id,
                 title:title},
                 {
               headers: headers}
             )
  /*  const url = window.URL.createObjectURL(new Blob([response.data]));
    const link = document.createElement('a');
    link.href = url;
    link.setAttribute('download', 'file');
    document.body.appendChild(link);
    link.click();*/
    //this.$router.push(this.response.data);

  .then(response => {this.s = response.data.data.content_url
                     console.log(this.s);
                   window.location.href =response.data.data.content_url})

    },
  deleteBook(id) {
    this.loading = true;
    let token = localStorage.getItem('auth-token')
    const headers = {
                      'Authorization': 'Bearer '+token,
                      'Content-Type': 'application/json'
                  }
    axios
          .post(url+`/admin/redmine/wiki/delete/${id}`,{project_id:this.$route.params.id},{headers:headers

        })
          .then(response => {
              let i = this.results.map(item => item.title).indexOf(id); // find index of your object
              this.results.splice(i, 1)
          });

  },
}
}
</script>
<style>
</style>
