<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
        <div class="col text-right">

                  <base-button  type="secondary" size="sm"><router-link to="/New_Groupaccount">Add Account Group</router-link></base-button>


          <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
        </div>

      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">description</th>
            <th scope="col">Accounts</th>
                <th scope="col">Options</th>

          </tr>
        </thead>
        <tbody>
          <tr v-for=" group in groups" v-bind:key="group.id">
            <!--<td><img v-bind:src="user.avatar" width="50"/></td>-->
            <td>{{ group.name}}</td>
              <td>{{ group.description}}</td>
              <td> <base-button  type="secondary" size="sm"><router-link :to="{name:'accounts', params: { id:group.id }}">Show Accounts</router-link></base-button>
                    </td>
                    <td> <base-dropdown class="dropdown"
                                     position="right">
                        <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                          <template>

                              <a>  <router-link :to="{name:'Editinvestor', params: { id: group.id }}" class="dropdown-item">Edit
                              </router-link></a>
                              <a>    <button class="dropdown-item" @click="deleteBook(group.id)">Delete</button></a>
                            </template>
                                </base-dropdown>
                          </td>


        </tr>

        </tbody>
      </table>
      <!--<base-table class="table align-items-center table-flush"
                  :class="type === 'light' ? 'table-light': ''"
                  :thead-classes="type === 'light' ? 'thead-light': 'thead-light'"
                  tbody-classes="list"
                  :data="startups">
        <template slot="columns">
          <th>name</th>
          <th>phase</th>
          <th>join_Date</th>
        </template>
    <tbody>
    <tr v-for="startup in startups" :key="startup.id">
        <td>{{ startup.name }}</td>
        <td>{{ startup.phase }}</td>
        <td>{{ startup.joinDate }}</td>

          <td> <base-dropdown class="dropdown"
                           position="right">
              <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </a>

              <template>
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Delete</a>
                <a class="dropdown-item" href="#">Members</a>
              </template>
            </base-dropdown></td>
    </tr>
</tbody>-->

</div>
<div class="card-footer d-flex justify-content-end"
  :class="type === 'dark' ? 'bg-transparent': ''">
<base-pagination total="30"></base-pagination>
</div>
</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"KPI"
    },
    data () {
      return {
        loading: false,
        groups: null
      }
    },
    mounted () {
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get(url+'/accountGroup/all',{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => (this.groups= response.data.data))
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    },
    methods: {
            deleteBook(id) {
              this.loading = true;
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }

              axios
                    .post(url+`/accountGroup/delete/${id}`,{},{

                      headers:headers

                  }
                               )
                    .then(response => {
                        let i = this.groups.map(item => item.id).indexOf(id); // find index of your object
                        this.groups.splice(i, 1)
                    });
            }

        }
  }

</script>
<style>

</style>
