<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
        <div class="col text-right">
          <base-button  type="secondary" size="sm"><router-link to="/New_investor">Add Investor</router-link></base-button>

          <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
        </div>

      </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <div class="row" v-for="investors in processedPosts">
      <div class="columns large-3 medium-6" v-for="investor in investors">
        <div class="card">
        <div class="card-divider">
      <h5>{{ investor.name }}</h5>
               <h6>Position: {{ investor.position }}</h6>
               <h6>Address:  {{ investor.address }}</h6>
                <h6>Type : {{ investor.type }}</h6>
                <h6>Phone:   {{ investor.phone }}</h6>
        </div>
  <a :href="investor.url" target="_blank"><img :src="investor.image_url"></a>
        <div c s="card-section">

            <base-button  type="secondary" size="sm"><router-link :to="{name:'Editinvestor', params: { id: investor.id }}">Edit</router-link></base-button>
            <base-button  type="danger" size="sm"@click="deleteBook(investor.id)">Delete</router-link></base-button>
        </div>
      </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"Investors"
    },
    computed:{
      processedPosts()
      {

             // Add image_url attribute
             // Add image_url attribute
                  this.investors.map(investor => {
                    let imgObj = investor.avatar
                    investor.image_url = imgObj ? imgObj.url : "https://media-exp1.licdn.com/dms/image/C4D1BAQGnp4eWg3Nziw/company-background_10000/0?e=2159024400&v=beta&t=Ti0EhQWp636uNbilsCMCL4n7ogUqXk4QBdJkpsqVrNA";
                  });
            let i, j, chunkedArray = [], chunk = 4;
                  for (i=0, j=0; i < Object.keys(this.investors).length; i += chunk, j++) {
                    chunkedArray[j] = this.investors.slice(i,i+chunk);
                  }
                  return chunkedArray;
          },

      },
    data () {
      return {
        loading: false,
        investors:[],
      }
    },
    mounted () {
 this.getPosts();},
    methods: {
      getPosts() {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        axios
          .get(url+'/investor/all',{

                        headers: {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
    })
          .then(response =>(this.investors = response.data.data))
          .catch(error => console.log(error))
          .finally(() => this.loading = false)
      },
            deleteBook(id) {

              this.loading = true;
                let token = localStorage.getItem('auth-token')
                const headers = {
                                  'Authorization': 'Bearer '+token,
                                  'Content-Type': 'application/json'
                              }
              axios
                    .post(url+`/investor/delete/${id}`,{},{headers:headers})
                    .then(response => {
                        let i = this.investors.map(item => item.id).indexOf(id); // find index of your object
                        this.investors.splice(i, 1)
                    });
            }

        }
  }

</script>
<style>

</style>
