<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>

        <div class="col text-right">

                  <base-button  type="secondary" size="sm"><router-link :to="{name:'New_data', params: { id:$route.params.id }}">Add Data</router-link></base-button>
                    <base-button  type="secondary" size="sm"><router-link :to="{name:'dashboard', params: { id:$route.params.id }}">chart</router-link></base-button>
                  <base-dropdown class="dropdown"
                                   position="right">
                      <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                        <template>

                            <a>   <router-link :to="{name:'New_data', params: { id:$route.params.id }}">Add Data</router-link></a>
                            <a> <router-link :to="{name:'dashboard', params: { id:$route.params.id }}">Export to chart</router-link></a>

                          </template>
                              </base-dropdown>

          <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
        </div>

      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Actual</th>
          <th scope="col">Date</th>
          <th scope="col"> Options</th>
          </tr>
        </thead>
        <tbody>

          <tr v-for=" data in alldata" v-bind:key="data.id" v-if="data.kpi_id==$route.params.id">
            <!--<td><img v-bind:src="user.avatar" width="50"/></td>-->
        <!--     <td>{{ data.kpi_id}}</td>-->
      <td>  <span :style="`color: ${getColor(data.actual)}`">
       {{ data.actual }}
     </span></td>
              <td>{{ data.date}}</td>
              <td> <base-dropdown class="dropdown"
                               position="right">
                  <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                    <template>

                        <a>  <router-link :to="{name:'Edit data', params: { id: data.id }}" class="dropdown-item">Edit
                        </router-link></a>
                        <a>    <button class="dropdown-item" @click="deleteBook(data.id)">Delete</button></a>

                      </template>
                          </base-dropdown>
                    </td>
                      </tr>
        </tbody>
      </table>
</div>
<div class="card-footer d-flex justify-content-end"
  :class="type === 'dark' ? 'bg-transparent': ''">
<base-pagination total="30"></base-pagination>
</div>
</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"KPI"
    },
    data () {
      return {
        loading: false,
target:this.gettarget(),
        alldata: null
      }
    },
    mounted () {

      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get(url+`/kpiData/all`,{
                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => (this.alldata= response.data.data))
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    },
    methods:{

      gettarget(){
        this.loading = true;
          let token = localStorage.getItem('auth-token')
            axios
            .get(url+`/kpi/${this.$route.params.id}/find/data`,{

                          headers: {
                              'Authorization': 'Bearer '+token,
                              'Content-Type': 'application/json'
                          }
                        })
                    .then(response => {
                        this.target = response.data.data.target;

return this.target;
                    });

                  },
                  getColor(actual) {
                    if(actual>=this.target)
                     return "green";
                     return "red";
                  },
                  deleteBook(id) {
                    this.loading = true;
                      let token = localStorage.getItem('auth-token')
                    axios
                          .post(url+`/kpiData/delete/${id}`,{},{headers: {
                                    'Authorization': 'Bearer '+token,
                                    'Content-Type': 'application/json'
                                }})
                          .then(response => {
                              let i = this.alldata.map(item => item.id).indexOf(id); // find index of your object
                              this.alldata.splice(i, 1)
                          });
                  }



      }
    }
</script>
<style>

</style>
