<template>
  <div>
    <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
  <div class="container-fluid mt--7">
    <div class="card shadow"
         :class="type === 'dark' ? 'bg-default': ''">
      <div class="card-header border-0"
           :class="type === 'dark' ? 'bg-transparent': ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
              {{test}}
            </h3>
          </div>
        <div class="col text-right">
                    <base-button  type="secondary" size="sm"><router-link to="/New_KPI">Add KPI</router-link></base-button>


            <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Startup Name</th>
            <th scope="col">Description</th>
              <th scope="col">Frequency</th>
            <th scope="col">Format</th>
            <th scope="col">Target</th>
            <th scope="col">KPI Data</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for=" kpi in kpis" v-bind:key="kpi.id" v-if="kpi.category_id==$route.params.id">
            <!--<td><img v-bind:src="user.avatar" width="50"/></td>-->
            <td>{{ kpi.name}}</td>
            <td>{{kpi.startup_name}}</td>
            <td>{{ kpi.description}}</td>
        <!--  <td>{{getSubjectName(kpi.frequency_id)}}</td>-->
          <td>{{ kpi.frequency_name}}</td>
        <td>{{ kpi.format}}</td>
            <td>{{ kpi.target}}</td>
            <td> <base-button  type="secondary" size="sm"><router-link :to="{name:'kpi data', params: { id:$route.params.id}}">Show Data</router-link></base-button>
                  </td>
            <td> <base-dropdown class="dropdown"
                             position="right">
                <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                  <template>

                      <a>  <router-link :to="{name:'Edit KPI', params: { id:$route.params.id, kpi_id:kpi.id}}" class="dropdown-item">Edit
                      </router-link></a>
                      <a>    <button class="dropdown-item" @click="deleteBook(kpi.id)">Delete</button></a>
                    </template>
                        </base-dropdown>
                  </td>



        </tr>

        </tbody>
      </table>
</div>
<div class="card-footer d-flex justify-content-end"
  :class="type === 'dark' ? 'bg-transparent': ''">
<base-pagination total="30"></base-pagination>
</div>
</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"KPI"
    },
    data () {
      return {
        loading: false,
        name:'',
        test:'',
        kpis: null
      }
    },
    mounted () {

      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios
        .get(url+`/kpi/all`,{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response =>{ (this.kpis = response.data.data)
      this.test=response.data.data[12]});
console.log(this.test)
    },
    methods: {
    getSubjectName(id) {
      let fname;
        this.loading = true;
          let token = localStorage.getItem('auth-token')

            axios
            .get(url+`/frequency/findById/${id}`,{

                          headers: {
                              'Authorization': 'Bearer '+token,
                              'Content-Type': 'application/json'
                          }
                        })
                    .then(response => {
                        this.fname = response.data.data.name;
                      console.log(this.fname)
                      return  this.fname;
                    });


                  },
                  deleteBook(id) {
                    this.loading = true;
                    let token = localStorage.getItem('auth-token')
                    const headers = {
                                      'Authorization': 'Bearer '+token,
                                      'Content-Type': 'application/json'
                                  }
                    axios
                          .post(url+`/kpi/delete/${id}`,{},{headers:headers

                        })
                          .then(response => {
                              let i = this.kpis.map(item => item.id).indexOf(id); // find index of your object
                              this.kpis.splice(i, 1)
                          });
                  }

  }
}

</script>
<style>

</style>
