<template>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card bg-white shadow border-0 ">
    <img class="card-img-top" src="img/brand/pilotLabs.jfif" alt="Card Image"  >

                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Sign in</small>
                        </div>
                        <template>
                        <form @submit="formSubmit" >
                          <div class="row">
                              <div class="col-lg-10">
                                  <base-input alternative=""

                                              addon-left-icon="ni ni-email-83"
                                              placeholder="name@gmail.com"
                                              input-classes="form-control-alternative"
                                              v-model="email">
                              </base-input>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-lg-10">
                                  <base-input alternative=""
                                            type="password"
                                            addon-left-icon="ni ni-lock-circle-open"
                                              placeholder="password"
                                              input-classes="form-control-alternative"
                                              v-model="password"
                                  ></base-input>
                              </div>

                          </div>


                            <base-checkbox class="custom-control-alternative">
                                <span class="text-muted">Remember me</span>
                            </base-checkbox>
                            <div class="text-center">
                              <button class="btn btn-primary">Sign in</button>
                              <!--<base-button  type="secondary" size="bg"><router-link to="/dashboard">Sign in</router-link></base-button>-->
                            </div>
  </form>
</template>
      </div>
      <p class="text-danger" v-show="status" v-text="status"></p>

                    </div>

                  <div class="row mt-3">
                    <div class="col-6">
                        <a href="#" class="text-light"><small>Forgot password?</small></a>
                    </div>

                  <!--<div class="col-6 text-right">
                        <router-link to="/register" class="text-light"><small>Create new account</small></router-link>
                    </div>-->
                </div>
            </div>
        </div>
</template>
<script>
import axios from "axios";
const { url } = require('./Tables/url.js')
  export default {
    name: 'login',
    data() {
      return {
          email: '',
          password: '',
          status:false,
}

    },
    methods: {
      formSubmit(e){
             e.preventDefault()
             console.log(this.email)
         console.log(this.password)
         let info = {email:this.email,password:this.password}
         axios.post(url+`/login`,info)
         .then(res => {
             localStorage.setItem('auth-token',res.data.token)
             this.$router.replace(this.$route.query.redirect || '/tables')
         })          .catch(error => {
            this.status= error.response.data.message;
         })

       },

     }
         }
</script>
<style>
</style>
