<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
        <div class="col text-right">
         <base-button  type="secondary" size="sm"><router-link :to="{name:'New_member', params: { id:$route.params.id }}">Add Member</router-link></base-button>
          <!-- <router-link :to="{name:'/New_member', params: { id: member.startup_id }}" class="btn btn-primary">Add Mwmber
          </router-link>
          <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
        </div>

      </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <div class="row" v-for="posts in processedPosts">
      <div class="columns large-3 medium-6" v-for="post in posts" v-bind:key="post.id">
      <div class="card shadow"
               :class="type === 'dark' ? 'bg-default': ''">
        <div class="card-divider">
      <h5>{{ post.name }}</h5>
              <h6> Position: {{ post.position }}</h6>
               <h6>Address:  {{ post.address }}</h6>
                <h6> Shares:<span class="mr-2">{{post.shares }}%</span></h6>
            <base-progress :type="post.shares "
                           class="pt-0"
                           :show-percentage="false"
                           :value="post.shares "
            />
                Phone:   {{ post.phone }}
        </div>
  <a :href="post.url" target="_blank"><img :src="post.image_url"></a>
        <div class="card-section">

            <base-button  type="secondary" size="sm"><router-link :to="{name:'Editmember', params: { id: post.id , startupid: $route.params.id}}">Edit</router-link></base-button>
            <base-button  type="danger" size="sm"@click="deleteBook(post.id)">Delete</router-link></base-button>
        </div>
      </div>
      </div>
    </div>



</div>
</div>
</div>
</div>
</div>
</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"members"
    },
    data () {
      return {
        loading: false,
      members: [],
      posts:[],
      }
    },
    mounted () {
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios
        .get(url+'/startupMember/all',{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => (this.members = response.data.data))
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    },
    computed:{
    processedPosts()
    {
           this.posts = this.members;
           // Add image_url attribute
           // Add image_url attribute
                this.posts.map(post => {
                  let imgObj = post.avatar
                  post.image_url = imgObj ? imgObj.url : "https://media-exp1.licdn.com/dms/image/C4D1BAQGnp4eWg3Nziw/company-background_10000/0?e=2159024400&v=beta&t=Ti0EhQWp636uNbilsCMCL4n7ogUqXk4QBdJkpsqVrNA";
                });
          let i, j, chunkedArray = [], chunk = 4;
                for (i=0, j=0; i < Object.keys(this.posts).length; i += chunk, j++) {
                  chunkedArray[j] = this.posts.slice(i,i+chunk);
                }
                return chunkedArray;
        },

    },
    methods: {
            deleteBook(id) {
              this.loading = true;
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
              axios
                    .post(url+`/startupMember/delete/${id}`,{
                    },{headers:headers

                })
                    .then(response => {
                        let i = this.members.map(item => item.id).indexOf(id); // find index of your object
                        this.members.splice(i, 1)
                    });
            }

        }
  }

</script>
<style>

</style>
