<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>

        </div>
        <div class="col text-right">
          <base-button  type="secondary" size="sm"><router-link :to="{name:'New_issue', params: { id:$route.params.id }}">Add Issue</router-link></base-button>
      </div>
    </div>
</div>
<div class="table-responsive">
    <table id="table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <!--<th scope="col">KPI Name</th>-->
            <th scope="col">Subject</th>
            <th scope="col">Priority</th>
            <th scope="col">Description</th>
            <th scope="col">Estimated Hours</th>
            <th scope="col">Done_Ratio</th>
            <th scope="col">Start_Date</th>
            <th scope="col">Due_Date</th>
            <th scope="col"> Options</th>

          </tr>
        </thead>
        <tbody>

         <tr class="odd gradeX" v-for=" issue in issues" v-bind:key="issues.id">
            <!--<td><img v-bind:src="user.avatar" width="50"/></td>-->

   <td>{{issue.subject}}</td>
       <td><span :style="`color: ${getColor(issue.priority.name)}`">
        {{ issue.priority.name }}
      </span></td>
          <td>{{issue.description}}</td>
              <td>{{issue.estimated_hours}}</td>
      <td>{{issue.done_ratio}}%</td>
                <td>{{issue.start_date}}</td>
                <td>{{issue.due_date}}</td>
                <td> <base-dropdown class="dropdown"
                                 position="right">
                    <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                      <template>

                          <a>  <router-link :to="{name:'Edit issue', params: { id:$route.params.id ,issueid:issue.id}}" class="dropdown-item">Edit
                          </router-link></a>
                          <a>  <router-link :to="{name:'New_issue_file', params: { id:$route.params.id ,issueid:issue.id}}" class="dropdown-item">Upload
                          </router-link></a>
                          <a>    <button class="dropdown-item" @click="download(issue.id)"></button></a>
                          <a>    <button class="dropdown-item" @click="deleteBook(issue.id)">Delete</button></a>

                        </template>
                            </base-dropdown>
                      </td>
              </tr>
              </tbody>
            </table>


</div>

</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {

    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"coordinate"
    },
    data () {
      return {
        loading: false,

        issues:[],
        test:[]
      }
    },
    mounted () {

      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get(url+`/redmine/all/issue/${this.$route.params.id}`,{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
  .then(response => {

   this.issues=response.data.issues
   this.$nextTick(() => {
    $("#table").DataTable({});
 });

    })
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
        console.log(this.issues)
    },
    methods:{
      getColor(actual) {
        if(actual=="High")
         return "red";
         else if(actual=="Normal")
         return "green";
         else if(actual=="Immediate")
         return "orange";
         else if(actual=="Urgent")
         return "brown";
         return "gray";
      },
      deleteBook(id) {
        this.loading = true;
          let token = localStorage.getItem('auth-token')
        axios
              .post(url+`/redmine/issue/delete/${id}`,{},{headers: {
                        'Authorization': 'Bearer '+token,
                        'Content-Type': 'application/json'
                    }})
              .then(response => {
                  let i = this.issues.map(item => item.id).indexOf(id); // find index of your object
                  this.issues.splice(i, 1)
              });
      }
    }
    }
</script>
<style>

</style>
