<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New KPI Data</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit="formSubmit">
                                <h6 class="heading-small text-muted mb-4">Data information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Actual"
                                                        placeholder="actual"
                                                        input-classes="form-control-alternative"
                                                        v-model="actual"
                                            />
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-lg-10">

<!--                            <Datepicker   v-model="date" format="yyyy-MM-dd"
                                                                      placeholder="Select a date"
  ></Datepicker>-->
                 <h5>Date</h5>
                <base-input alternative=""
                            v-model="date"
                            type="date"
                            placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

                />


        </div>
        </div>
                                   </div>
                <!--<button class="btn btn-primary">Add</button>-->
                <div class="col-4 text-center">
                    <button class="btn  btn-primary">Save</button>
                </div>
                            </form>
                        </template>
                        <p class="alert alert-success" v-show="success" v-text="success"></p>
                        <p class="alert alert-danger" v-show="status" v-text="status"></p>

                    </card>
                </div>
            </div>

</div>
</template>
<script>
      import axios from "axios";
       import Datepicker from 'vuejs-datepicker'
       const { url } = require('./Tables/url.js')
//import DashboardLayout from '@/layout/DashboardLayout'
    export default {

    name: 'investor-info',
    components: {
            Datepicker
        },
  //  components: { DashboardLayout},
    data() {
      return {

          actual: '',
          date: '',
kpi_id:'',
            status: false,
            success:false,

      }

    },
    methods: {
        formSubmit(e) {
            e.preventDefault();
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
            axios
            .post(url+'/kpiData/add', {
                  kpi_id:this.$route.params.id,
                  actual: this.actual,
                  date: this.date
              },{headers:headers

            })
            .then(response => (this.success=response.data.Message))
            .catch(error => {
     this.status= error.response.data.Message;
  })

            .finally(() => this.loading = false)
        }
    }

  }

</script>
<style></style>
