
<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New Issue</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit="formSubmit">
                                <h6 class="heading-small text-muted mb-4">Issue information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Subject"
                                                        placeholder=" Issue Subject"
                                                        input-classes="form-control-alternative"
                                                        v-model="subject"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                          <div class="col-lg-10">
                                             <h5>Estimated_hours</h5>
                                            <base-input alternative=""
                                                        placeholder="estimated_hours"
                                                        input-classes="form-control-alternative"
                                                        v-model="estimated_hours"
                                                        type="number"
                                                        min="1"
                                                        max="10000"

                                            />


</div>
</div>
<div class="row">
      <div class="col-lg-10">
         <h5>Done Ratio</h5>
        <base-input alternative=""
                    placeholder="0%100%"
                    input-classes="form-control-alternative"
                    v-model="done_ratio"
                    type="number"
                    min="0"
                    max="100"

        />


</div>
</div>
<div class="row">
    <div class="col-lg-10">

         <h5>Start Date</h5>
         <base-input alternative=""
                     v-model="start_date"
                     type="date"
                     placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

         />
    </div>

</div>
<div class="row">
    <div class="col-lg-10">

         <h5>Due Date</h5>
         <base-input alternative=""
                     v-model="due_date"
                     type="date"
                     placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

         />

    </div>

</div>


                                      <div class="row">
                                          <div class="col-lg-10">
                                            <h5>Priority</h5>
                                            <select v-model="priority_id"  class="form-control">
                                     <option disabled value="" selected="selected">Please select one</option>
                                     <option v-for="priority in priorities" :key="priority.id" v-bind:value="priority.name">
                                             {{priority.name}}
                                       </option>

                                  </select>
                                          </div>
                                        </div>

                                   </div>

                <div class="col-4 text-center">
                    <button class="btn  btn-primary">Save</button>
                </div>
                            </form>
                        </template>
                        <p class="alert alert-success" v-show="success" v-text="success"></p>
                        <p class="alert alert-danger" v-show="statuss" v-text="statuss"></p>

                    </card>
                </div>
            </div>

</div>
</template>
<script>
import axios from "axios";
   import Datepicker from 'vuejs-datepicker';
import { IntegerPlusminus } from 'vue-integer-plusminus';
const { url } = require('./Tables/url.js')
export default {
  name: 'app',
  components: {
          Datepicker,IntegerPlusminus
      },
  data () {
    return {
      subject: '',
priority_id:'',
project_id:'',
priorities:[],
status_id:'',
tracker_id:'',
    start_date:'',
    due_date:'',
  estimated_hours:'',
  status:'',
  status_id:'',
  done_ratio:'',
  success:false,
      status: false,
    }
  },
  mounted () {
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios
        .get(url+'/redmine/all/priority/issue',{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => (this.priorities= response.data.issue_priorities))
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    },
  methods: {
      formSubmit(e) {
        let token = localStorage.getItem('auth-token')
        const headers = {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
          e.preventDefault();

          axios
          .post(url+'/redmine/issue/add', {
                subject: this.subject,
                priority_id: this.priority_id,
              start_date:this.start_date,
              due_date:this.due_date,
              project_id:this.$route.params.id,
              done_ratio:this.done_ratio,
          },{headers:headers

      })
          .then(response => {this.success=response.data.Message
          this.$router.push({name: 'Issues',id:this.$route.params.id});
        })

          .catch(error => {
   this.status= error.response.data.Message;
})

          .finally(() => this.loading = false)
      },
    },
}
</script>
