<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
      <div class="row">
          <div class="col">
  <div class="col-xl-9 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New Transaction</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit="formSubmit">
                                <h5 class="heading-small text-muted mb-2">Transacion Information</h5>
                                <div class="pl-lg-4">
                                  <div class="row">
                                      <div class="col-lg-10">
                                        <h5>Credit Name</h5>
                                        <select v-model="credit_id"  class="form-control">
                                 <option disabled value="" selected="selected">Please select one</option>
                                 <option v-for="account in accounts" :key="account.id" v-bind:value="account.id">
                                         {{account.name}}
                                   </option>

                              </select>
                                      </div>
                                    </div>
                                  <div class="row">
                                      <div class="col-lg-10">
                                        <h5>Debit Name</h5>
                                        <select v-model="debit_id" class="form-control">
                                 <option disabled value="" selected="selected" class="form-control">Please select one</option>
                                 <option v-for="account in accounts" :key="account.id" v-bind:value="account.id">
                                         {{account.name}}
                                   </option>

                              </select>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                          <h5>Type transactions</h5>
                                          <select v-model="type_id" @change="getstartup" class="form-control">
                                   <option disabled value="" selected="selected">Please select one</option>
                                   <option v-for="type in types" :key="type.id" v-bind:value="type.id">
                                           {{type.name}}
                                     </option>

                                </select>
                                        </div>

                                    </div>
                                    <div class="row">
                                          <div class="col-lg-10">
                                             <h5>Amount</h5>
                                            <base-input alternative=""
                                                        placeholder="Amount"
                                                        input-classes="form-control-alternative"
                                                        v-model="amount"
                                                        type="number"

                                            />


</div>
</div>

                                    <div class="row">
                                          <div class="col-lg-10">
                                             <h5>Description</h5>
                                            <base-input alternative=""
                                                        placeholder="balance from pilotlabs"
                                                        input-classes="form-control-alternative"
                                                        v-model="description"
                                            />


</div>
</div>
<div class="row">
    <div class="col-lg-10">

<!--                            <Datepicker   v-model="date" format="yyyy-MM-dd"
                                  placeholder="Select a date"
></Datepicker>-->
<h5>Date</h5>
<base-input alternative=""
v-model="date"
type="date"
placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

/>


</div>
</div>

</div>
                                    <div class="col-4 text-center">
                                        <button class="btn  btn-primary">Save</button>
 </div>
                            </form>
                        </template>
                        <p class="alert alert-success" v-show="success" v-text="success"></p>
                        <p class="alert alert-danger" v-show="status" v-text="status"></p>
                    </card>
                </div>
            </div>
          </div>
</div>

</div>
</template>
<script>
  import axios from "axios";
  const { url } = require('./Tables/url.js')
  import Datepicker from 'vuejs-datepicker';
    export default {
    name: 'transaction-info',
  //  components: { DashboardLayout},
    data() {
      return {

            credit_id: '',
            debit_id: '',
            type_id: '',
            description:'',
            amount:'',
            date:'',
            status: false,
             accounts:'',
             types:'',
             success:false,

      }
    },
    computed: {
      getstartup() {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        const headers = {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
    axios
      .get(url+`/transactionType/all`,{headers:headers

    })
      .then(response => (this.types = response.data.data))
      .catch(error => console.log(error))
      .finally(() => this.loading = false)
    },

    },
    mounted () {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        axios
          .get(url+`/account/all/${"opened"}`,{

                        headers: {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
    })
          .then(response => (this.accounts= response.data.data))
          .catch(error => console.log(error))
          .finally(() => this.loading = false)
      },


    methods: {
        formSubmit(e) {
          let token = localStorage.getItem('auth-token')
          const headers = {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
            e.preventDefault();
            axios
            .post(url+'/transaction/add', {
                  credit_id: this.credit_id,
                    debit_id: this.debit_id,
                  type_id:this.type_id,
                  description:this.description,
                    amount:this.amount,
                  date:this.date

            },{headers:headers

        })
            .then(response => (this.success=response.data.Message))
            .catch(error => {
     this.status= error.response.data.Message;
  })

            .finally(() => this.loading = false)
        },

    }

  };
</script>
<style></style>
