<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New Member</h3>
                                </div>
                            </div>
                        </div>
                        <template>

                            <form @submit="formSubmit">
                                <h6 class="heading-small text-muted mb-4">Member information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">

                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Name"
                                                        placeholder=" Member Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="name"
                                            />
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Position"
                                                        placeholder="Position"
                                                        input-classes="form-control-alternative"
                                                        v-model="position"
                                            />
                                        </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-lg-10">
                                              <h5>User Name</h5>
                                              <select v-model="user_id" class="form-control">
                                        <option disabled value="" selected="selected">Please select one</option>
                                        <option v-for="user in users" :key="user.id" v-bind:value="user.id">
                                                {{user.name}}
                                         </option>

                                        </select>
                                            </div>
                                          </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Address"
                                                        placeholder="Address"
                                                        input-classes="form-control-alternative"
                                                        v-model="address"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Phone"
                                                        placeholder="Phone Number"
                                                        input-classes="form-control-alternative"
                                                        v-model="phone"
                                            />
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Shares"
                                                          placeholder="0-->100%"
                                                          input-classes="form-control-alternative"
                                                          v-model="shares"
                                              />
                                          </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-lg-10">
                                               <div class="form-group">
                                                       <h5>Image</h5>
                                                    <input class="form-control" required type="file" accept="image/*" ref="avatar" name="avatar" @change="handleUploadFile()" />
                                                  </div>
                                        </div>
                                        </div>

                                   </div>
                <!--<button class="btn btn-primary">Add</button>-->
                <div class="col-4 text-center">
                    <button class="btn  btn-primary">Save</button>
                </div>
                            </form>
                        </template>
                        <p class="alert alert-success" v-show="success" v-text="success"></p>
                        <p class="alert alert-danger" v-show="status" v-text="status"></p>

                    </card>
                </div>
            </div>

</div>
</template>
<script>
      import axios from "axios";
      const { url } = require('./Tables/url.js')
    export default {
    name: 'member-info',
    data() {
      return {
          name: '',
            position: '',
            user_id:'',
            address: '',
          phone: '',
          shares:'',
            status: false,
            success:false,
            startup_id:'',
            users:[],
            avatar:'',
      }
    },
    mounted () {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        axios
          .get(url+'/startupMember/users',{

                        headers: {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
    })
          .then(response => (this.users= response.data.data))
          .catch(error => console.log(error))
          .finally(() => this.loading = false)
      },
    methods: {
      handleUploadFile(){
     this.avatar = this.$refs.avatar.files[0];
   },
        formSubmit(e) {
          let token = localStorage.getItem('auth-token')
          const headers = {
                            'Authorization': 'Bearer '+token,
                              'Accept': 'application/json'
                        }
                        let formData = new FormData();
                      formData.append('avatar', this.avatar);
                      formData.append('position', this.position);
                      formData.append('name',this.name);
                      formData.append('address',this.address);
                      formData.append('phone',this.phone);
                      formData.append('shares',this.shares);
                      formData.append('startup_id',this.$route.params.id);
                      formData.append('user_id',this.user_id);
            e.preventDefault();
            axios
            .post(url+'/startupMember/add',formData
            ,{headers:headers

        },{responseType: 'multipart/form-data'})
            .then(response => (this.success=response.data.Message))
            .catch(error => {
     this.status= error.response.data.Message;
  })

            .finally(() => this.loading = false)
        }
    }

  }

</script>
<style></style>
