<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New Account</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit="formSubmit">
                                <h6 class="heading-small text-muted mb-4">Account information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Name"
                                                        placeholder=" Account Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="name"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Balance"
                                                        placeholder="Balance"
                                                        input-classes="form-control-alternative"
                                                        v-model="balance"
                                            />
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-10">
                                          <h5>Startup Name</h5>
                                          <select v-model="startup_id"  @change="getstartup" class="form-control">
                                   <option disabled value="" selected="selected">Please select one</option>
                                   <option v-for="startup in startups" :key="startup.id" v-bind:value="startup.id">
                                           {{startup.name}}
                                     </option>

                                </select>
                                        </div>
                                      </div>
                                   </div>

                <div class="col-4 text-center">
                    <button class="btn  btn-primary">Save</button>
                </div>
                            </form>
                        </template>
                        <p class="alert alert-success" v-show="success" v-text="success"></p>
                        <p class="alert alert-danger" v-show="statuss" v-text="statuss"></p>

                    </card>
                </div>
            </div>

</div>
</template>
<script>
      import axios from "axios";
      const { url } = require('./Tables/url.js')
//import DashboardLayout from '@/layout/DashboardLayout'
    export default {

    name: 'investor-info',
  //  components: { DashboardLayout},
    data() {
      return {

          name: '',
            balance: '',
            statuss: '',
          startup_id: '',
          group_id:'',
          success:false,
            statuss: false,
      }
    },
    computed: {

      getstartup() {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        const headers = {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
    axios
      .get(url+'/startup/all',{headers:headers

    })
      .then(response => (this.startups = response.data.data))
      .catch(error => console.log(error))
      .finally(() => this.loading = false)
    },

    },
    methods: {
        formSubmit(e) {
            e.preventDefault();
              let token = localStorage.getItem('auth-token')
              const headers = {
                                'Authorization': 'Bearer '+token,
                                'Content-Type': 'application/json'
                            }
            axios
            .post(url+'/account/open', {
                  name: this.name,
                  balance: this.balance,
                  status:"open",
                  startup_id:this.startup_id,
               group_id:this.$route.params.id
            },{headers:headers

          })
            .then(response => (this.success=response.data.Message))
            .catch(error => {
     this.statuss= error.response.data.Message;
  })

            .finally(() => this.loading = false)
        }
    }

  }

</script>
<style></style>
