<template>
<div>
<base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
<div class="col-xl-8 order-xl-1">
<card shadow type="secondary">
<div slot="header" class="bg-white border-0">
<div class="row align-items-center">
<div class="col-8">
<h3 class="mb-0">New File</h3>
</div>
</div>
</div>
<template>
<form @submit="formSubmit" >
<h6 class="heading-small text-muted mb-4">File information</h6>
<div class="pl-lg-4">
<div class="row">
<div class="col-lg-10">
<base-input alternative=""
type="text"
label="File Name"
placeholder="file name"
input-classes="form-control-alternative"
v-model="filename"
/>
</div>
</div>
<div class="row">
<div class="col-lg-10">
<base-input alternative=""
type="text"
label="Text"
placeholder="text"
input-classes="form-control-alternative"
v-model="text"
/>
</div>
</div>
<div class="row">
<div class="col-lg-10">
<base-input alternative=""
type="text"
label="Title"
placeholder="title"
input-classes="form-control-alternative"
v-model="title"
/>
</div>
</div>
<div class="row">
<div class="col-lg-10">
  <div class="form-group">
    <label>File Content</label>
    <input class="form-control" required type="file"  ref="filecontent" name="filecontent" @change="handleUploadFile()" />
  </div>
</div>
</div>
</div>
<!--<button class="btn btn-primary">Add</button>-->
<div class="col-4 text-center">
<button class="btn btn-primary">Save</button>
</div>
</form>
</template>
<p class="alert alert-success" v-show="statussuc" v-text="statussuc"></p>
<p class="alert alert-danger" v-show="status" v-text="status"></p>
</card>
</div>
</div>
</div>
</template>
<script>
import axios from "axios";
const { url } = require('./Tables/url.js')
//import DashboardLayout from '@/layout/DashboardLayout'
export default {
name: 'investor-info',
// components: { DashboardLayout},
data() {
return {
filecontent:null,
title: '',
text: '',
filename: '',
status: false,
statussuc: false,
}
},
methods: {

handleUploadFile(){
this.filecontent = this.$refs.filecontent.files[0];
},
formSubmit(e) {
e.preventDefault();
let token = localStorage.getItem('auth-token')
const headers = {
'Authorization': 'Bearer '+token,
'Accept': 'application/json',
}
let formData = new FormData();
formData.append('filecontent', this.filecontent);
formData.append('title', this.title);
formData.append('project_id', this.$route.params.id);
formData.append('text',this.text);
formData.append('filename',this.filename);
console.log(this.filecontent);
axios
.post(url+`/admin/redmine/wiki/upload`,formData,{headers:headers},{responseType: 'multipart/form-data'})
.then(response => {this.statussuc=response.data.Message
console.log(this.statussuc);})
.catch(error => {
this.status= error.response.data.Message;
})
.finally(() => this.loading = false)
}
}
}
</script>
<style></style>
