<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
  <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New Shares</h3>
                                </div>


                            </div>
                        </div>
                        <template>
                            <form @submit="formSubmit">
                                <h5 class="heading-small text-muted mb-2">startup name</h5>
                                <div class="pl-lg-4">
                                  <div class="row">
                                      <div class="col-lg-10">
                                        <h5>Startup Name</h5>
                                        <select v-model="startup_id"  @change="getstartup" class="form-control">
                                 <option disabled value="" selected="selected">Please select one</option>
                                 <option v-for="startup in startups" :key="startup.id" v-bind:value="startup.id">
                                         {{startup.name}}
                                   </option>

                              </select>
                                      </div>
                                    </div>
                                  <div class="row">
                                      <div class="col-lg-10">
                                        <h5>Investore Name</h5>
                                        <select v-model="investor_id" class="form-control">
                                 <option disabled value="" selected="selected">Please select one</option>
                                 <option v-for="investor in investors" :key="investor.id" v-bind:value="investor.id">
                                         {{investor.name}}
                                   </option>

                              </select>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Shares"
                                                        placeholder="sahres"
                                                        input-classes="form-control-alternative"
                                                        v-model="shares"
                                            />
                                        </div>

                                    </div>
                                    <div class="col-4 text-center">
                                        <button class="btn  btn-primary">Save</button>
                                    </div>

                                   </div>

                            </form>
                        </template>
                          <p class="alert alert-success" v-show="success" v-text="success"></p>
                          <p class="alert alert-danger" v-show="status" v-text="status"></p>
                    </card>
                </div>
            </div>

</div>
</template>
<script>
  import axios from "axios";
  const { url } = require('./Tables/url.js')
//import DashboardLayout from '@/layout/DashboardLayout'
    export default {
    name: 'shares-info',
  //  components: { DashboardLayout},
    data() {
      return {

          startup_id: '',
            investor_id: '',
            shares: '',
            status: false,
            success:false,
             investors:'',
             startups:'',

      }
    },
    computed: {

      getstartup() {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        const headers = {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
    axios
      .get(url+'/startup/all',{headers:headers

    })
      .then(response => (this.startups = response.data.data))
      .catch(error => console.log(error))
      .finally(() => this.loading = false)
    },

    },
    mounted () {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        const headers = {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
    axios
      .get(url+'/investor/all',{headers:headers

    })
      .then(response => (this.investors = response.data.data))
      .catch(error => console.log(error))
      .finally(() => this.loading = false)
      },

    methods: {
        formSubmit(e) {
          let token = localStorage.getItem('auth-token')
          const headers = {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
            e.preventDefault();
            axios
            .post(url+'/shares/add', {
                  startup_id: this.startup_id,
                    investor_id: this.investor_id,
                  shares:this.shares
            },{headers:headers

        })
            .then(response => (this.success=response.data.Message))
            .catch(error => {
     this.status= error.response.data.Message;
  })

            .finally(() => this.loading = false)
        },

    }

  };
</script>
<style></style>
