<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New Investor</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit="formSubmit">
                                <h6 class="heading-small text-muted mb-4">Investor information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Name"
                                                        placeholder=" Investor Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="name"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Position"
                                                        placeholder="Position"
                                                        input-classes="form-control-alternative"
                                                        v-model="position"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Address"
                                                        placeholder="Address"
                                                        input-classes="form-control-alternative"
                                                        v-model="address"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Phone"
                                                        placeholder="Phone Number"
                                                        input-classes="form-control-alternative"
                                                        v-model="phone"
                                            />
                                        </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-lg-10">
                                               <h5>Type</h5>
                                                <!--<base-input alternative=""
                                                            label="Type"
                                                            placeholder=" select startup or pilotlab or external "
                                                            input-classes="form-control-alternative"
                                                            v-model="model.type"
                                                />-->
                                                <select v-model="type" class="form-control">
  <option disabled value="">Select type</option>
  <option>startupMember</option>
  <option>acceleratorMember</option>
  <option>externalMember</option>
</select>
<span>{{ selected }}</span>
                                            </div>

                                    </div>
                                    <div class="row">
                                          <div class="col-lg-10">
                                           <div class="form-group">
                                                   <h5>Image</h5>
                                                <input class="form-control" required type="file" accept="image/*" ref="avatar" name="avatar" @change="handleUploadFile()" />
                                              </div>
                                    </div>
                                    </div>
                                   </div>
                <!--<button class="btn btn-primary">Add</button>-->
                <div class="col-4 text-center">
                    <button class="btn  btn-primary">Save</button>
                </div>
                            </form>
                        </template>
                        <p class="alert alert-success" v-show="statussuc" v-text="statussuc"></p>
                        <p class="alert alert-danger" v-show="status" v-text="status"></p>

                    </card>
                </div>
            </div>

</div>
</template>
<script>
      import axios from "axios";
      const { url } = require('./Tables/url.js')
//import DashboardLayout from '@/layout/DashboardLayout'
    export default {

    name: 'investor-info',
  //  components: { DashboardLayout},
    data() {
      return {

          name: '',
            position: '',
            address: '',
          phone: '',
            type: '',
            avatar:'',
            status: false,
            statussuc: false,
      }
    },
    methods: {
      handleUploadFile(){
     this.avatar = this.$refs.avatar.files[0];
   },
        formSubmit(e) {
            e.preventDefault();
            let token = localStorage.getItem('auth-token')
            const headers = {
                              'Authorization': 'Bearer '+token,
                              'Accept': 'application/json'
                          }
                          let formData = new FormData();
                        formData.append('avatar', this.avatar);
                        formData.append('position', this.position);
                        formData.append('name',this.name);
                        formData.append('address',this.address);
                        formData.append('phone',this.phone);
                        formData.append('type',this.type);

            axios
            .post(url+'/investor/add',   formData
            ,{headers:headers

        },{responseType: 'multipart/form-data'})
            .then(response => {this.statussuc=response.data.Message
                               console.log(this.statussuc);})
            .catch(error => {
     this.status= error.response.data.Message;

  })

            .finally(() => this.loading = false)
        }
    }

  }

</script>
<style></style>
