<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New KPI</h3>
                                </div>
                            </div>
                        </div>
                        <template>
                            <form @submit="formSubmit">
                                <h6 class="heading-small text-muted mb-4">KPI information</h6>
                                <div class="pl-lg-4">

                                  <div class="row">
                                      <div class="col-lg-10">
                                        <h5>Startup Name</h5>
                                        <select v-model="startup_id"  @change="getstartup" class="form-control">
                                 <option disabled value="" selected="selected">Please select one</option>
                                 <option v-for="startup in startups" :key="startup.id" v-bind:value="startup.id">
                                         {{startup.name}}
                                   </option>
                              </select>
                                      </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="KPI Name"
                                                        placeholder="KPI Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="name"
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Description"
                                                        placeholder="Description"
                                                        input-classes="form-control-alternative"
                                                        v-model="description"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <base-input alternative=""
                                                        label="Target"
                                                        placeholder="Target"
                                                        input-classes="form-control-alternative"
                                                        v-model="target"
                                            />
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-10">
                                          <h5>Category</h5>
                                          <select v-model="category_id"  @change="getcategory" class="form-control">
                                   <option disabled value="" selected="selected">Please select one</option>
                                   <option v-for="category in categories" :key="category.id" v-bind:value="category.id">
                                           {{category.name}}
                                     </option>

                                </select>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                            <h5>Frequency</h5>
                                            <select v-model="frequency_id" class="form-control">
                                     <option disabled value="" selected="selected">When will this KPI be entered</option>
                                     <option v-for="frequency in frequencies" :key="frequency.id" v-bind:value="frequency.id">
                                             {{frequency.name}}
                                       </option>

                                  </select>
                                          </div>
                                        </div>
                                      <div class="row">
                                          <div class="col-lg-10">
                                              <base-input alternative=""
                                                          label="Format"
                                                          placeholder="format"
                                                          input-classes="form-control-alternative"
                                                          v-model="format"
                                              />
                                          </div>
                                        </div>

                                   </div>
                <!--<button class="btn btn-primary">Add</button>-->
                <div class="col-4 text-center">
                    <button class="btn  btn-primary">Save</button>
                </div>
                            </form>
                        </template>
                        <p class="alert alert-success" v-show="success" v-text="success"></p>
                        <p class="alert alert-danger" v-show="status" v-text="status"></p>
                    </card>
                </div>
            </div>

</div>
</template>
<script>
      import axios from "axios";
      const { url } = require('./Tables/url.js')
//import DashboardLayout from '@/layout/DashboardLayout'
    export default {

    name: 'KPI-info',
  //  components: { DashboardLayout},
    data() {
      return {
          startup_id:'',
          name: '',
          description  : '',
          category_id: '',
          target: '',
          frequency_id: '',
          format:'',
            status: false,
            success:false,
            startups:'',
            categories:'',
            frequencies:'',
      }
    },
    computed: {

      getstartup() {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        const headers = {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
    axios
      .get(url+'/startup/all',{headers:headers

    })
      .then(response => (this.startups = response.data.data))
      .catch(error => console.log(error))
      .finally(() => this.loading = false)
    },
    getcategory() {
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      const headers = {
                        'Authorization': 'Bearer '+token,
                        'Content-Type': 'application/json'
                    }
  axios
    .get(url+'/category/all',{headers:headers

  })
    .then(response => (this.categories = response.data.data))
    .catch(error => console.log(error))
    .finally(() => this.loading = false)
  },

    },
    mounted () {
        this.loading = true;
        let token = localStorage.getItem('auth-token')
        const headers = {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
    axios
      .get(url+'/frequency/all',{headers:headers

    })
      .then(response => (this.frequencies = response.data.data))
      .catch(error => console.log(error))
      .finally(() => this.loading = false)
      },

    methods: {
        formSubmit(e) {
            e.preventDefault();
            let token = localStorage.getItem('auth-token')
            const headers = {
                              'Authorization': 'Bearer '+token,
                              'Content-Type': 'application/json'
                          }
            axios
            .post(url+'/kpi/add',{

                  startup_id: this.startup_id,
                  name: this.name,
                  description:this.description,
                  target:this.target,
                  category_id:this.category_id,
                  frequency_id:this.frequency_id,
                  format:this.format

            },{
                headers: headers
            })
            .then(response => (this.success=response.data.Message))
            .catch(error => {
     this.status= error.response.data.Message;
  })

            .finally(() => this.loading = false)
        },
    }
  };
</script>
<style></style>
