
<template>
    <div>
      <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
    <div class="container-fluid mt--7">
      <div class="row">
          <div class="col">
  <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">New Startup</h3>
                                </div>

                            </div>
                        </div>
                        <template>
                            <form @submit="formSubmit"enctype="multipart/form-data">
                                <h6 class="heading-small text-muted mb-4">Startup information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-10">
                                          <h5>Name</h5>
                                            <base-input alternative=""
                                                        placeholder=" Startup Name"
                                                        input-classes="form-control-alternative"
                                                        v-model="name"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-10">
                                          <h5>Balance</h5>
                                            <base-input alternative=""
                                                        placeholder="balance from pilotlabs"
                                                        input-classes="form-control-alternative"
                                                        v-model="balance"
                                            />
                                        </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-lg-10">
                                         <h5>Group</h5>
                                         <select v-model="group_id" class="form-control">
                                  <option disabled value="" selected="selected">Please select one</option>
                                  <option v-for="group in groups" :key="group.id" v-bind:value="group.id">
                                          {{group.name}}
                                    </option>

                               </select>
                                       </div>
                                     </div>
                                    <div class="row">
                                          <div class="col-lg-10">
                                             <h5>Phase</h5>
                                            <base-input alternative=""
                                                        placeholder="phase between 1->3"
                                                        input-classes="form-control-alternative"
                                                        v-model="phase"
                                                        type="number"
                                                        min="1"
                                                        max="3"

                                            />


</div>
</div>
<div class="row">
      <div class="col-lg-10">
         <h5>Join Date</h5>
        <base-input alternative=""
                    v-model="joinDate"
                    type="date"
                    placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"

        />


</div>
</div>
<div class="row">
      <div class="col-lg-10">
       <div class="form-group">
               <h5>Image</h5>
            <input class="form-control" required type="file" accept="image/*" ref="avatar" name="avatar" @change="handleUploadFile()" />
          </div>
</div>
</div>
</div>

                                   <div class="col text-right">

  <button class=" btn btn-primary" size="sm" >Save</button>
                                   </div>
                            </form>
                              </template>
                              <p class="alert alert-success" v-show="success" v-text="success"></p>
                              <p class="alert alert-danger" v-show="status" v-text="status"></p>
                    </card>
                </div>
            </div>
                </div>
                    </div>
          </div>
</template>
<script>
import axios from "axios";
   import Datepicker from 'vuejs-datepicker';
   import datetime from 'vuejs-datetimepicker';
   const { url } = require('./Tables/url.js')
import { IntegerPlusminus } from 'vue-integer-plusminus'
export default {
  name: 'app',
  components: {
          Datepicker,IntegerPlusminus,datetime
      },
  data () {
    return {
      name: '',
group_id:'',
groups:[],
avatar:'',
      phase: '',
      joinDate:'',
      balance:'',
      status: false,
      success: false,
    }

  },
  mounted () {
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios
        .get(url+'/accountGroup/all',{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => (this.groups= response.data.data))
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    },
  methods: {
      handleUploadFile(){
     this.avatar = this.$refs.avatar.files[0];
   },
      formSubmit(e) {
        let token = localStorage.getItem('auth-token')
        const headers = {
                          'Authorization': 'Bearer '+token,
                          'Accept': 'application/json',
                      }
          e.preventDefault();

          let formData = new FormData();
        formData.append('avatar', this.avatar);
        formData.append('group_id',JSON.stringify(this.group_id));
        formData.append('name',this.name);
        formData.append('balance',this.balance);
        formData.append('joinDate',this.joinDate);
        formData.append('phase',this.phase);

          axios
          .post(url+'/startup/add',
            formData
          ,{headers:headers

      },{responseType: 'multipart/form-data'})
          .then(response => (this.success=response.data.Message))
          .catch(error => {
   this.status= error.response.data.Message;
})

          .finally(() => this.loading = false)
      },

    },
}
</script>

<style>
.int-input-increment {
    background: #5CB85C !important;
}
</style>
