<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>

        </div>

      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <!--<th scope="col">KPI Name</th>-->
            <th scope="col">Name</th>
            <th scope="col">Description</th>
              <th scope="col">Options</th>

          </tr>
        </thead>
        <tbody>

         <tr v-for=" project in projects" v-bind:key="project.id">
            <!--<td><img v-bind:src="user.avatar" width="50"/></td>-->

   <td>{{project.name}}</td>
    <td>{{project.description}}</td>
<td> <base-button  type="secondary" size="sm"><router-link :to="{name:'files', params: { id:project.name,name:project.id}}">Show Files</router-link></base-button>
      </td>
              </tr>
        </tbody>
      </table>

</div>
<div class="card-footer d-flex justify-content-end"
  :class="type === 'dark' ? 'bg-transparent': ''">
<base-pagination total="30"></base-pagination>
</div>
</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"coordinate"
    },
    data () {
      return {
        loading: false,

        projects:[],
        test:[]
      }
    },
    mounted () {

      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get(url+`/redmine/all/project`,{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
  .then(response => {

   this.projects=response.data.projects

    })
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    }
    }
</script>
<style>

</style>
