<template>
  <div>
    <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
  <div class="container-fluid mt--7">
    <div class="card shadow"
         :class="type === 'dark' ? 'bg-default': ''">
      <div class="card-header border-0"
           :class="type === 'dark' ? 'bg-transparent': ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
            </h3>
          </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scop="col">File Name</th>
            <th scope="col">Type</th>
              <th scope="col">Description</th>
                <th scope="col">Url</th>
                <th scope="col">Options</th>

          </tr>
        </thead>
        <tbody>
          <tr v-for=" attachment in attachments">
            <!--<td><img v-bind:src="user.avatar" width="50"/></td>-->
              <td>{{ attachment.filename}}</td>
            <td>{{ attachment.content_type}}</td>
            <td>{{ attachment.description}}</td>
            <td>{{ attachment.content_url}}</td>
          <!--  <td><li>Download <a href="#" @click="downloadTemplateFile('FileTemplate.csv')">here</a></li></td>
            <td> <base-button  type="success" size="sm"@click="onClick(attachment.id,attachment.filename)">Download</router-link></base-button>
                  </td>
        <!--  <td>{{getSubjectName(kpi.frequency_id)}}</td>

          <td><a :href="attachment.content_url @click:"onClick()"" >Download</a>{{ attachment.content_url}}</td>


<td>
 <div id="app">

   <button @click="onClick(attachment.id,attachment.filename,attachment.content_url)">DownLoad</button>

 </div></td>-->
 <td>  <button @click="download(attachment.filename,attachment.id,attachment.content_url)" class="btn btn-primary">Download file</button>
   <div class="container">
  <div id="app">
    <button @click="downloadWithVueResource(attachment.filename,attachment.id,attachment.content_url)">Download file with Vue Resource</button>
    <button @click="downloadWithAxios(attachment.filename,attachment.id,attachment.content_url)">Download file with Axios</button>
  </div>
</div></td>
        </tr>
        </tbody>
      </table>

</div>

</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
  const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"KPI"
    },
    data () {
      return {
        loading: false,
        test:[],
        attachments: null,
        id:'',
        project_id:'',
        filename:'',
      }
    },
    mounted () {

      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios
        .post(url+`/admin/redmine/wiki/show/${this.$route.params.id}`,
          {
                project_id: this.$route.params.name},{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
  .then(response => {

   this.test=response.data.data
                  this.test.forEach(item =>{

this.attachments=item.attachments



                      })

      console.log(this.attachments);
      })



},

      methods: {
        download(name,id,url){
          this.loading = true;
          let token = localStorage.getItem('auth-token')
          axios
            .post( url+`/admin/redmine/wiki/download/${id}`,
              { filename: name},{

                          headers: {
                              'Authorization': 'Bearer '+token,
                              'Content-Type': 'application/json'
                          },
        },{responseType: 'blob'})
                       .then((response) => console.log(response.data))
                       .catch(err => console.log(err))
                   }
               },
  forceFileDownload(response){
    const url = window.URL.createObjectURL(new Blob([response]))
    const link = document.createElement('a')
    link.href = url
    link.setAttribute('download', this.attachment.content_type) //or any other extension
    document.body.appendChild(link)
    link.click()
  },

  downloadWithVueResource(name,id,url) {
    this.loading = true;
    let token = localStorage.getItem('auth-token')

    this.$http({
      method: 'post',
      url: url+`/admin/redmine/wiki/download/${id}`,
      headers:{
          'Authorization': 'Bearer '+token,
          'Content-Type': 'application/json'
      },
      filename:name,
      responseType: 'arraybuffer'

    })
    .then(response => {
      this.forceFileDownload(urll)
    })
    .catch(() => console.log('error occured'))

  },

  downloadWithAxios(){
    axios({
      method: 'post',
      url:this.attachment.content_url,
      responseType: 'arraybuffer'
    })
    .then(response => {

      this.forceFileDownload(this.attachment.content_url)

    })
    .catch(() => console.log('error occured'))
  },
onClick(id,name,urll){
  this.loading = true;
  let token = localStorage.getItem('auth-token')
  const headers = {
                    'Authorization': 'Bearer '+token,
                    'Content-Type': 'application/json'
                }
                axios
                  .post(url+`/admin/redmine/wiki/download/${id}`,
                    {
                          filename:name},{

                                headers: {
                                    'Authorization': 'Bearer '+token,
                                    'Content-Type': 'application/json'
                                }
            }).then((response) => {
                       var fileURL = window.URL.createObjectURL(urll);
                       var fileLink = document.createElement('a');

                       fileLink.href = fileURL;
                       document.body.appendChild(fileLink);

                       fileLink.click();
                  });

},

}

</script>
<style>
.container {
   height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

button {
  padding: 8px;
  border-radius: 3px;
}

button:hover {
  background-color: #2196f3;
  color: white;
}
</style>
