<template>
    <div>
        <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
        <div class="col text-right">
        <!--<base-button  type="primary" size="sm"<router-link to="/register">Add startup</router-link></base-button>-

        <base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/newstartup">Add startup</router-link></base-button>-->
      </div>
        </base-header>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col">
                    <projects-table type="light" title="Startups"></projects-table>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
  import ProjectsTable from './Tables/ProjectsTable'
  export default {
    name: 'tables',
    components: {
      ProjectsTable
    }
  };
</script>
<style></style>
