
<template>
  <div>
    <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
  </base-header>
  <div class="container-fluid mt--7">
    <div class="card shadow"
         :class="type === 'dark' ? 'bg-default': ''">
      <div class="card-header border-0"
           :class="type === 'dark' ? 'bg-transparent': ''">
        <div class="row align-items-center">
          <div class="col-sm">

            Currently selected year: {{ selectedYear}} <br>
          <select v-model="selectedYear" class="form-control" @change="show()"  >
            <option value="0">Currently selected year:</option>
            <option v-for="year in years" :value="year" :v-model="selectedYear">{{ year }}</option>
          </select>

          </div>

          <div class="col text-right">
            <base-button  type="secondary" size="sm"><router-link to="/New_transaction">Add Transaction</router-link></base-button>

                <!--  <base-button  type="secondary" size="sm" onclick='window.print()'>Print
                </base-button>-->
                  <base-button  type="secondary" size="sm" @click="generatePdf()">Export pdf
                  </base-button>

          </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>

          <tr>
            <th scope="col">Debit Name</th>
            <th scope="col">Credit Name</th>
            <th scope="col">Amount</th>
        <th scope="col">Type Name</th>
         <th scope="col">Description</th>
          <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for=" transaction in transactions" v-bind:key="transaction.id" >
            <!--<td><img v-bind:src="user.avatar" width="50"/></td>-->
            <td>{{ transaction.debit_name}}</td>
            <td>{{transaction.credit_name}}</td>
            <td> <span :style="`color: ${getColor(transaction.credit_id)}`">{{ transaction.amount}} </span></td>
            <td>{{ transaction.type_name}}</td>
            <td>{{ transaction.description}}</td>
            <td>{{ transaction.date}}</td>
        </tr>


        </tbody>
      </table>

</div>
<div class="card-footer d-flex justify-content-end"
  :class="type === 'dark' ? 'bg-transparent': ''">
<base-pagination total="30"></base-pagination>
</div>
</div>
</div>
</div>
</div>
</div>
</template>
<script>
import axios from 'axios'
const { url } = require('./Tables/url.js')
import Vue from 'vue'
import vSelect from 'vue-select'
import jsPDF from 'jspdf';
import 'jspdf-autotable';
Vue.component('v-select', vSelect)
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"Transacions"
    },
    data () {
      return {
        loading: false,
        name:'',
        selected:'',
         selectedYear: '0',
        transactions:[],
        test:[],
        testt:[],
        test3:[],


      }
    },
    computed: {

    years () {
      const year = new Date().getFullYear()
      return Array.from({length: year - 2018}, (value, index) => 2019 + index)
    }
  },
  mounted(){
    this.loading = true;
       let token = localStorage.getItem('auth-token')
       axios
         .get(url+`/transaction/mytrans/${this.$route.params.id}`,{

                       headers: {
                           'Authorization': 'Bearer '+token,
                           'Content-Type': 'application/json'
                       }
   })
   .then(response => {

    this.test=response.data.data
                   this.test.forEach(item =>{


           item.months.forEach(i =>{
           i.month_transactions.forEach(x =>{
             this.transactions.push(x);
           })

                       })


       })
         console.log(this.transactions);

     });

  },
  methods:
  {
    generatePdf() {
      const doc = new jsPDF()

// It can parse html:
// <table id="my-table"><!-- ... --></table>
//  doc.autoTable({ html: '#my-table' })
this.transactions.forEach(item =>{
  delete item.id;
  delete item.debit_id;
  delete item.type_id;
  delete item.credit_id;
  delete item.created_at;
  delete item.updated_at;

  });
this.testt = this.transactions.map(Object.values);

console.log(this.testt);
doc.autoTable({
  head: [['Description','Amount','Date','Credit Name','Debit Name','Type Name']],
  body:this.testt,
})

doc.save('table.pdf')
    },
     show(){
     this.loading = true;
        let token = localStorage.getItem('auth-token')
        axios
          .get(url+`/transaction/mytrans/${this.$route.params.id}`,{

                        headers: {
                            'Authorization': 'Bearer '+token,
                            'Content-Type': 'application/json'
                        }
    })
    .then(response => {

     this.test=response.data.data
                    this.test.forEach(item =>{
            if (this.selectedYear === item.year)

{
  this.transactions=[];
            item.months.forEach(i =>{
            i.month_transactions.forEach(x =>{
              this.transactions.push(x);
            })

                        })
}

        })
          console.log(this.transactions);

      });

    },
    getColor(credit_id) {
      if(credit_id===this.$route.params.id)
       return "green";
       return "red";
    },
}
  };



</script>
<style>

</style>
