<!--<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
      </div>
    </div>

    <mdb-datatable
      :data="data"
      striped
      bordered
    />

    </div>
</div>
</div>
</div>
</div>
</div>
</template>
<script>
  import { mdbDatatable } from 'mdbvue';
    import axios from 'axios';
  export default {
    name: 'DatatablePage',
    components: {
      mdbDatatable
    },
    data() {
      return {
        data: {
          columns: [
            {
              label: 'Name',
              field: 'name',
              sort: 'asc'
            },
            {
              label: 'Description',
              field: 'description',
              sort: 'asc'
            }

          ],
          rows:[],
          categories:[],
          test:[],
          test1:[]
        }
      }
    },
    mounted () {
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get('https://mighty-meadow-51663.herokuapp.com/category/all',{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => {this.test= response.data.data
          this.test.forEach(item =>{
            test1.push(item)
          var ob = {name:item.name, description:item.description};
          console.log(ob)
                this.categories.push(ob)

console.log(this.categories)


  })
this.rows=this.categories
});

    },

  }

</script>-->
<!--<template>
  <mdb-container>
    <mdb-datatable-2
      v-model="data"
      striped
      bordered
      arrows
      :display="3"
    />
  </mdb-container>
</template>
<script>
  import { mdbDatatable2, mdbContainer } from 'mdbvue';
  import axios from 'axios';
  export default {
    components: {
      mdbDatatable2,
      mdbContainer
    },
    data() {
      return {
        columns: [],
        rows: []
      };
    },
    computed: {
      data() {
        return {
          columns: this.columns,
          rows: this.rows
        };
      },
    },
    methods: {
      filterData(dataArr, keys) {
        let data = dataArr.map(entry => {
          let filteredEntry = {};
          keys.forEach(key => {
            if (key in entry) {
              filteredEntry[key] = entry[key];
            }
          });
          return filteredEntry;
        });
        return data;
      }
    },
    mounted(){
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get('https://mighty-meadow-51663.herokuapp.com/category/all',{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => response.data.data)
        .then(json => {
          let keys = ["id", "name", "description"];
          let entries = this.filterData(json, keys);
          //columns
          this.columns = keys.map(key => {
            return {
              label: key.toUpperCase(),

              sort: true
            };
          });
          //rows
          entries.map(entry => this.rows.push(entry));
        })
        .catch(err => console.log(err));
    }
  };
</script>-->
<template>
  <div>
  <base-header type="gradient-info" class="pb-6 pb-8 pt-5 pt-md-8">
</base-header>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
        <div class="col text-right">

                  <base-button  type="secondary" size="sm"><router-link to="/New_user">Add User</router-link></base-button>


          <!--<base-button class="btn btn-outline-primary btn-lg" role="button"><router-link to="/members">Members</router-link></base-button>-->
      </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
           <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for=" user in users" v-bind:key="user.id">
            <td>{{ user.name}}</td>
              <td>{{ user.email}}</td>
              <td>{{ user.password}}</td>
                    <td> <base-dropdown class="dropdown"
                                     position="right">
                        <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                          <template>

                              <a>  <router-link :to="{name:'Edituser', params: { id: user.id }}" class="dropdown-item">Edit
                              </router-link></a>
                              <a>    <button class="dropdown-item" @click="deleteBook(user.id)">Delete</button></a>
                            </template>
                                </base-dropdown>
                          </td>
        </tr>
        </tbody>
      </table>
</div>
<div class="card-footer d-flex justify-content-end"
  :class="type === 'dark' ? 'bg-transparent': ''">
<base-pagination total="30"></base-pagination>
</div>
</div>
</div>
</div>
</div>
</div>

</template>

<script>
  import axios from 'axios'
const { url } = require('./Tables/url.js')
  export default {
    name: 'projects-table',
    props: {
      type: {
        type: "light"
      },
      title:"Users"
    },
    data () {
      return {
        loading: false,
        users: null
      }
    },
    mounted () {
      this.loading = true;
      let token = localStorage.getItem('auth-token')
      axios

        .get(url+'/users/all',{

                      headers: {
                          'Authorization': 'Bearer '+token,
                          'Content-Type': 'application/json'
                      }
  })
        .then(response => (this.users= response.data.data))
        .catch(error => console.log(error))
        .finally(() => this.loading = false)
    },
     methods: {
              deleteBook(id) {
                this.loading = true;
                let token = localStorage.getItem('auth-token')
                const headers = {
                                  'Authorization': 'Bearer '+token,
                                  'Content-Type': 'application/json'
                              }
                axios
                      .post(url+`/users/delete/${id}`,{},{headers:headers

                    })
                      .then(response => {
                          let i = this.users.map(item => item.id).indexOf(id); // find index of your object
                          this.users.splice(i, 1)
                      });
              }

          }
        }

</script>
<style>

</style>
