<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar
      :background-color="sidebarBackground"
      short-title="Argon"
      title="PilotLabs"
    ><template slot="links">
      <sidebar-item
        :link="{
          name: 'Users',
           icon: 'ni ni-settings' ,
          path: '/Users'
        }"
      />
        <sidebar-item
          :link="{
            name: 'Startups',
             icon: 'ni ni-user-run text-red' ,
            path: '/tables'
          }"
        />
        <sidebar-item :link="{name: 'Investors', icon: 'ni ni-single-02  text-blue', path: '/Investors'}"/>
        <sidebar-item :link="{name: 'Shares', icon: 'ni ni-vector text-orange', path: '/capitalization'}"/>
          <sidebar-item :link="{name: 'KPI', icon: 'ni ni-chart-bar-32 text-pink', path: '/categories'}"/>
        <sidebar-item :link="{name: 'Financial', icon: 'ni ni-money-coins text-yellow', path: '/groups'}"/>
        <sidebar-item :link="{name: 'Coordinate',  icon: 'ni ni-collection', path: '/projects'}"/>
          <sidebar-item :link="{name: 'Content', icon: 'ni ni-books text-info', path: '/projects_content'}"/>
                <sidebar-item :link="{name: 'Calendar', icon: 'ni ni-calendar-grid-58 text-primary', path: '/calendar'}"/>

    <!--    <sidebar-item :link="{name: 'Calendar', icon: 'ni ni-circle-08 text-pink', path: '/register'}"/>
-->
      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
        <content-footer v-if="!$route.meta.hideFooter"></content-footer>
      </div>
    </div>
  </div>
</template>
<script>
  import DashboardNavbar from './DashboardNavbar.vue';
  import ContentFooter from './ContentFooter.vue';
  import { FadeTransition } from 'vue2-transitions';

  export default {
    components: {
      DashboardNavbar,
      ContentFooter,
      FadeTransition
    },
    data() {
      return {
        sidebarBackground: 'primary' //vue|blue|orange|green|red|primary
      };
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false);
        }
      }
    }
  };
</script>
<style lang="scss">
</style>
